.admin-pages .page-content {
  background: #f9f7f7;
}

.admin-pages .form-label {
  color: #000;
}

.admin-pages header {
  padding: 0px 0;
}

.admin-pages .card-body {
  border-top: 0;
}

.admin-pages .form-check-input[type="radio"] {
  border-radius: 50px !important;
}

.admin-pages .form-check-input[type="radio"],
.admin-pages .form-check-input[type="checkbox"] {
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 10px;
}

.admin-pages .ant-select-selector {
  border: 1px solid #e6e6e6 !important;
  border-radius: 5px !important;
}

.admin-pages .email-new input {
  padding: 6px 12px;
  font-size: 13px;
}

.admin-pages .gray-box {
  background: #d9d9d936;
  padding: 5px 15px 15px;
  border-radius: 8px;
}

.admin-pages .note-editor .note-btn-group button {
  color: #333 !important;
  padding: 6px 10px;
  height: auto;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.admin-pages select,
.admin-pages input {
  padding: 9px 12px;
  height: auto;
  border: 1px solid #e6e6e6;
  border-radius: 5px !important;
}

.remove-btn-inclusion {
  line-height: 30px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  height: 30px;
  border: none;
  width: 30px;
  padding: 0px 0px;
  border: none;
  background-color: rgb(104, 27, 27);
}

.gray-box h4 {
  line-height: 30px;
}
.our-approachmain:after {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(0, 0, 0, 0.5);
}
.app-middle-content {
  position: relative;
  z-index: 1;
}
.approach-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.DiabetesHealthcontent figcaption ul,
.note-editable ul {
  padding-left: 24px !important;
}
.DiabetesHealthcontent figcaption ul li,
.note-editable ul li {
  list-style: disc;
  text-align: start;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.Browseservice {
  display: flex;
}
.slick-prev {
  left: -205px !important;
}

.booked-slot {
  background-color: #f0f0f0;
  color: #999;
  pointer-events: none;
}

.booked-label {
  margin-left: 8px;
  font-size: 0.8em;
  color: #ff0000;
}
.status-user-btn {
  border: none;
  width: 100px;
  padding: 3px 8px;
  background-color: #2f3944;
  color: white;
  border-radius: 4px;
}
.not-found-page {
  margin: 120px 0px 50px 0px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
}

.gary-img-div {
  position: relative;
  width: 75px;
  height: 75px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 3px 2px 5px 0px;
  margin-bottom: 20px;
}
.gary-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.remove-img-btn-gly {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgb(220, 53, 69);
  color: rgb(255, 255, 255);
  border: 0.2px solid black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  cursor: pointer;
}

.userprofile {
  margin-left: 20px;
}

.upcomingbox img {
  border-radius: 10px;
}

.applied-coupon-box {
  border: 1px dashed #28a745;
  background-color: #e9f7ef;
}

body .owl-carousel .owl-item .event-images-optional img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100% !important;
}
.addtobag .addtobagh h4 {
  color: #800030;
  font-size: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.addtobag .addtobagh {
  border: none;
}
.addtobag .ordersummarylist li {
  padding: 12px;
  border: 1px solid #00000033;
  border-radius: 10px;
}

.update-meas-btn {
  background-color: #800030;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  border: none;
  padding: 8px 10px;
}
select.form-control {
  appearance: auto;
  margin-right: -10px;
  -webkit-appearance: menulist; /* for Safari */
  -moz-appearance: menulist; /* for Firefox */
}

.cart-item-count {
  position: relative;
  top: -16px;
  right: 7px;
  background-color: orange;
  color: black;
  font-size: 10px;
  border-radius: 50%;
  padding: 1px 5px;
}

.about-cms h2 {
  font-size: 32px;
  color: #800030;
  font-weight: 700;
  text-transform: uppercase;
}
.note-dropdown-menu {
  min-width: 358px !important;
}

.smartkitchein-banner {
  position: relative;
}

.coming-soon-label {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ff4d4f;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.whyText {
  text-align: center;
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #800030;
}
