@media (min-width: 1200px) and (max-width: 1680px) {
  .OurServices.bg-solid {
    padding-bottom: 0;
  }

  .col-md-5.text-left figure img {
    width: 365px;
    z-index: 9;
    position: relative;
  }
  .OurServicesContent figcaption h3 {
    font-size: 20px;
  }

  .OurServicesRow .col-md-4 {
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .VideBox iframe {
    height: 400px;
  }

  .SmartKichin .PageTitle.text-center {
    padding: 0 170px;
  }

  .SmartKichinContent figcaption {
    width: 294px;
  }

  .col-md-6.OurHealthBlogContent {
    padding: 0 25px;
  }
  .Login-info.d-flex.align-items-center {
    padding-left: 30px;
  }
  .bannerSectionLeft h1 {
    font-size: 36px;
  }

  .innerbanner figure img {
    height: 380px;
  }

  .innerbannerContent h2 {
    font-size: 28px;
  }
  .innerbannerContent p {
    font-size: 16px;
  }

  .ToolsPageBox h4 {
    margin-bottom: 10px;
    font-size: 26px;
  }

  section.InnnerPage.bmiCalculator.InnerSpace .col-md-5 {
    width: 44%;
  }
  ul.wightList h4 {
    font-size: 18px;
  }

  .calculainSelect input.form-control {
    font-size: 16px;
    height: 54px;
  }

  .calculainSelect .form-select {
    padding-left: 10px;
    font-size: 14px;
  }

  .calculaField label {
    font-size: 18px;
  }

  .calculateButton .btn.btn-primary {
    height: 50px;
  }

  .radioList [type="radio"]:checked + label,
  .radioList [type="radio"]:not(:checked) + label {
    font-size: 18px;
  }

  .calculaField label {
    font-size: 18px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 40%;
  }

  .VisionMissioTitle {
    font-size: 14px;
  }

  .OurVisionMissionTitle p {
    font-size: 15px;
  }
  .VisionMissionList {
    padding-top: 140px;
  }

  .OurVisionMission.OurVisionMissionOdd .row {
    flex-direction: row-reverse;
    align-items: center;
  }
  .OurTEAMhead h2 {
    font-size: 32px;
  }
  .OurTEAMhead span {
    font-size: 18px;
  }

  .AboutBanner {
    background-size: cover;
    height: 465px;
  }

  .AboutBannerContent h3 {
    font-size: 32px;
  }
  ul.whoareList li {
    width: 38%;
  }

  .OurMVBGcontent {
    font-size: 26px;
  }

  .OurTeamsrowsL figure img {
    width: 245px;
    height: 245px;
  }

  .OurTeamsrowsL figure:after {
    height: 185px;
  }

  .messageCofoundersBg figcaption {
    padding: 0 25px;
  }

  .messageCofoundersTitle {
    margin-bottom: 48px;
  }
  .messageCofoundersTitle h2 {
    font-size: 30px;
  }

  .MoreProfessional {
    font-size: 30px;
  }

  .MoreProfessional span img {
    width: 145px;
  }
  ul.whoareList li {
    padding-right: 70px;
  }

  .col-md-6.OurHealthBlogContent p {
    font-size: 16px;
  }

  .OurHealthBlogContent figcaption h3 {
    font-size: 22px;
  }

  .OurBlogs .OurHealthBlogContent figure img {
    height: 395px;
  }

  .SearchBox input {
    height: 48px;
    font-size: 16px;
  }

  .DiabetesHealthcontent figcaption h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .pn-title {
    font-size: 32px;
  }
  .Packagecontent figcaption h4 {
    font-size: 20px;
  }
  ul.whoareList li figcaption h3 {
    font-size: 22px;
  }
  .Packagecontent figcaption p {
    font-size: 14px;
  }

  .Diabetespageleft figure img {
    width: 600px;
    height: 485px;
  }

  .Diabetespageright h3 {
    font-size: 32px;
  }

  .servicelist p {
    font-size: 13px;
  }
  .product-list figcaption h3 {
    font-size: 18px;
  }

  .price span {
    font-size: 24px;
  }
  body .owl-carousel .owl-item .product-list figure img {
    height: 350px;
  }
  .bpheadleft h4 {
    font-size: 28px;
  }

  .bpheadleft p {
    font-size: 18px;
  }

  .pricetime {
    font-size: 22px;
  }

  .bookappoinmentbody p {
    font-size: 16px;
  }

  .baheadtitle h3 {
    font-size: 32px;
  }

  .baheadtitle p {
    font-size: 18px;
  }

  .badetailright .pricetime {
    font-size: 26px;
  }
  .slottitle {
    font-size: 18px;
  }
  .baheadtitle {
    margin-bottom: 10px;
  }

  .slottimelist li {
    width: 26%;
  }

  .slottimelist li {
    font-size: 14px;
  }

  .btn-group-box {
    gap: 9px;
  }

  .btn-group-box .btn {
    font-size: 15px;
  }

  .servicedetaillisting figcaption h3 {
    font-size: 28px;
  }

  .servicedetaillisting figcaption p {
    font-size: 14px;
  }

  .servicedetail p {
    font-size: 14px;
  }

  .JoinourhealthContent h3 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .blogbannertitle {
    font-size: 14px;
  }
  .SmartKichinbox p {
    font-size: 16px;
  }

  .bannerSection .owl-nav svg {
    width: 16px;
  }
}
@media (min-width: 1366px) and (max-width: 1641px) {
  .circletagShapeBox {
    position: absolute;
    right: 135px;
    top: 215px;
  }
}
@media (min-width: 1640px) and (max-width: 1680px) {
  .circletagShapeBox {
    right: 250px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .circletagShapeBox {
    right: 35px;
  }
}

@media (max-width: 1199px) {
  .bannerSection {
    overflow: hidden;
  }
  .bannerSectionInner figure:after {
    width: 400px;
    height: 400px;
  }
  .Login-info {
    padding-left: 10px;
  }
  header .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0 11px !important;
  }
  .header-btn {
    min-width: 135px;
  }
  .bannerSectionLeft h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .bannerSection .BannerBtn a {
    font-weight: 700;
    font-size: 16px;
  }
  .circletagShape img {
    width: 63px;
  }

  .AboutInfo {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .OurServicesRow .col-md-4 {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .VideBox iframe {
    width: 65%;
  }
  .SmartKichin .PageTitle p {
    padding: 0 180px;
  }
  .SmartKichinContent figcaption {
    width: 90%;
  }
  .SmartKichinContent figcaption h3 {
    font-size: 20px;
  }
  .col-md-6.OurHealthBlogContent {
    padding: 0 20px;
  }
  .OurHealthBlogContent figcaption h3 {
    font-size: 20px;
  }
  .PageTitle {
    margin-bottom: 35px;
  }
  .trailofferList li {
    font-size: 13px;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  .OurServicesContent .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .OurServicesContent .btn:last-child {
    margin-bottom: 0;
  }
  .SmartKichinContent figcaption p {
    font-size: 14px;
  }
  .PosterContent h2 {
    font-size: 22px;
  }
  .PageTitle p {
    font-size: 15px;
  }
  .form-checkList li {
    width: 46%;
  }
  .GetIntouchRight .col-md-6.mb-3 {
    margin-bottom: 15px !important;
  }
  .GetIntouchRight {
    padding-bottom: 30px;
  }
  .AboutInfo h2 {
    font-size: 28px;
  }
  .AboutInfoLeft p {
    font-size: 18px;
  }

  .menuRows {
    margin-top: 50px;
  }
  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent {
    width: 50%;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    margin-top: 35px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 50%;
  }

  .LoginPage {
    background-position: center;
  }

  .formBox {
    padding: 30px 35px 35px;
  }

  .RegisterPage .SocialUsers {
    width: 95%;
  }

  .innerbanner figure img {
    height: 355px;
  }
  .innerbannerContent h2 {
    font-size: 32px;
  }
  .innerbannerContent p {
    font-size: 14px;
  }
  .ToolsPageBox h4 {
    font-size: 24px;
  }

  .ToolsPageBox p {
    font-size: 14px;
  }
  .circletagShapeBox {
    right: 30px;
    top: 191px;
  }

  .heartBeatImg {
    width: 17px;
  }

  .wightList figure img {
    height: 250px;
  }

  ul.wightList h4 {
    font-size: 15px;
  }

  .yourBmi span {
    font-size: 20px;
  }

  .calculatebody {
    width: 95%;
  }

  .calculaField label {
    font-size: 18px;
  }

  .bmiCalculator input.form-control,
  .bmiCalculator select.form-select {
    font-size: 14px;
    height: 48px;
  }

  .calculateButton .btn.btn-primary {
    font-size: 16px;

    min-width: 65%;
    height: 48px;
  }

  .radioList [type="radio"]:checked + label,
  .radioList [type="radio"]:not(:checked) + label {
    font-size: 16px;
  }

  .radioList [type="radio"]:checked + label:before,
  .radioList [type="radio"]:not(:checked) + label:before {
    width: 25px;
    height: 25px;
  }

  .radioList [type="radio"]:checked + label:after,
  .radioList [type="radio"]:not(:checked) + label:after {
    width: 13px;
    height: 13px;
    top: 6px;
    left: 6px;
  }
  .calculaField label {
    font-size: 14px;
  }
  .ResultBox {
    flex-wrap: wrap;
    width: 100%;
  }
  .ResultBox-right {
    width: 148px;
  }
  .ResultBox-left {
    width: 100%;
    flex: initial;
  }

  .col-md-6.ps-4 {
    padding-left: 15px !important;
  }

  .SearchBox input {
    height: 48px;
    font-size: 16px;
  }
  .baheadtitle h3 {
    font-size: 32px;
  }

  .baheadtitle p {
    font-size: 18px;
  }
  .badetailright .pricetime {
    font-size: 28px;
  }

  .adlistinfo li h4 {
    font-size: 18px;
  }

  .adlistinfo li span {
    font-size: 18px;
  }

  .slottimelist li {
    width: 33%;
  }

  .slottimelist {
    gap: 5px 15px;
  }

  .slottimelist li {
    font-size: 14px;
  }

  .slottimelist li {
    width: 29%;
  }
  .slottitle {
    font-size: 18px;
  }

  .adlistinfo li h4 {
    font-size: 16px;
  }
  .adlistinfo li span {
    font-size: 16px;
  }
  .AboutBanner {
    background-size: cover;
    height: 465px;
    background-position: right 56px;
  }

  ul.whoareList li {
    width: 31%;
    padding-right: 20px;
  }
  .AboutBannerContent h3 {
    font-size: 32px;
  }
  .OurTEAMhead h2 {
    font-size: 32px;
  }
  .OurTEAMhead span {
    font-size: 18px;
  }
  .OurTEAMhead p br {
    display: none;
  }
  .bpheadleft h4 {
    font-size: 28px;
  }

  .bpheadleft p {
    font-size: 18px;
  }

  .pricetime {
    font-size: 20px;
  }
  .bookappoinmentbody p {
    font-size: 16px;
  }
  .product-list figcaption {
    padding: 20px 22px 30px;
  }

  .btn-group-box {
    gap: 7px;
  }

  .btn-group-box {
    margin-top: 20px;
  }

  .servicedetaillisting figcaption h3 {
    font-size: 28px;
  }
  .textlink a {
    font-size: 14px;
  }

  .JoinourhealthContent h3 {
    font-size: 42px;
  }

  .JoinourhealthContent p {
    font-size: 16px;
  }
  .row.row-cols-5.SmartKichinlistrow .col {
    width: 25%;
  }
  .row.row-cols-5.SmartKichinlistrow {
    justify-content: center;
  }
  .SearchBox {
    width: 600px;
  }

  .btnserch .btn {
    height: 48px;
    font-size: 13px;
    text-align: center;
    line-height: 1.1;
  }
  span.tag-info {
    font-size: 13px;
  }

  .bannerSection .owl-nav {
    display: none;
  }
  .product-list figcaption h3 {
    font-size: 18px;
  }
  .price span {
    font-size: 24px;
  }

  .servicelist p {
    font-size: 14px;
  }
  .allpakages button.owl-next span,
  .allpakages button.owl-prev span {
    background-size: 11px;
    background-repeat: no-repeat;
  }

  .allpakages button.owl-next span {
    right: 6px;
  }
  .allpakages button.owl-prev span {
    left: 6px;
  }

  .InnerPageTitle h4 {
    font-size: 24px;
  }
  .InnerPageTitle {
    margin-bottom: 30px;
  }
  .BlogDeatils .innerbannerContent h2 {
    font-size: 32px;
  }
  .contentbox p {
    font-size: 16px;
  }

  .content {
    padding: 0px 10px;
  }
  .PackageINclusion .pn-title {
    font-size: 28px;
  }

  .Diabetespageleft figure img {
    height: 445px;
  }
  .DiabetesHealthcontent figcaption h3 {
    font-size: 18px;
  }

  .DiabetesHealthPakages .col-md-3 {
    width: 33%;
  }
  .Packagecontent figcaption h4 {
    font-size: 18px;
  }

  .Diabetespageright h3 {
    font-size: 28px;
  }
  .PackageINclusion .pn-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .Packagecontent figcaption p {
    font-size: 14px;
  }
  .owl-carousel.owl-theme {
    width: 90%;
    margin: auto;
  }

  .OurHealthBlog .text-center.btn-sec.mt-4 {
    margin-top: 0 !important;
  }
}

@media (max-width: 991px) {
  .ToolsPageBox:nth-child(odd) .row .col-md-8 {
    padding-left: 40px !important;
  }

  .ToolsPageBox {
    padding: 25px 50px;
  }
  header .navbar-nav .nav-link.active:after {
    display: none;
  }
  header .navbar-nav .nav-link {
    padding: 7px 17px !important;
    color: #fff;
  }
  .circletagShapeBox {
    right: 27px;
    top: 128px;
  }
  .navbar-collapse.show {
    margin-left: 0;
    left: 0;
    transition: 0.5s;
  }
  .navbar-collapse {
    background-color: #000;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: -227px;
    top: 0;
    transition: 0.3s;
    width: 227px;
    z-index: 9;
  }
  .navRight {
    flex-direction: row-reverse;
  }
  .bannerSectionLeft h1 {
    font-size: 24px;
  }
  .ClientListinfo li {
    padding-right: 20px;
    margin-right: 20px;
  }
  .ClientListinfo {
    margin-bottom: 20px;
  }
  .bannerSectionLeft h1 {
    margin-bottom: 22px;
  }
  .bannerSectionInner figure:after {
    width: 300px;
    height: 300px;
  }
  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent {
    width: 50%;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    margin-top: 30px;
  }
  footer {
    padding-top: 25px;
  }
  .BottomFooter {
    margin-top: 30px;
  }
  button.navbar-toggler {
    background: #000;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 9px;
    opacity: 1;
  }
  button.navbar-toggler.collapsed span {
    filter: brightness(0) invert(1);
  }
  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
  }
  header {
    padding: 10px 0;
  }
  .ClientInfo p {
    font-size: 14px;
  }

  .bannerSection .BannerBtn a {
    font-size: 16px;
    height: 45px;
  }
  .ClientInfo b {
    font-size: 24px;
  }
  .OurServicesRow .col-md-4 {
    width: 50%;
  }
  .OurServicesContent figcaption h3 {
    font-size: 20px;
  }
  .SmartKichin .row .col-md-4 {
    padding: 0 10px;
  }
  .SmartKichinContent figcaption h3 {
    font-size: 18px;
  }
  .btn {
    height: 40px;
  }
  .OurHealthBlog {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .row.OurHealthBlogRows {
    width: 100%;
  }

  .infobox.infoboxLeft {
    top: -83px;
  }

  .infobox.infoboxLeftRight {
    top: auto;
    bottom: 30px;
  }

  .infobox h4 {
    font-size: 23px;
  }

  section.trailoffer .col-md-6.pe-5 {
    padding-right: 20px !important;
  }

  .trailofferform .col-md-6.mb-3 {
    width: 100%;
  }
  .col-md-6.GetIntouchLeft {
    width: 100%;
  }

  .col-md-6.GetIntouchRight {
    width: 100%;
    margin-top: 20px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 65%;
    margin: auto;
  }

  .RegisterPage .col-md-7.me-auto {
    width: 90%;
    margin: auto;
  }
  .bannerSectionInner {
    margin-bottom: -28px;
  }
  .bannerSectionInner figure:after {
    display: none;
  }

  span.circleshape2 {
    display: none;
  }

  .InnnerPage.bmiCalculator .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .InnnerPage.bmiCalculator .col-md-5.ms-auto {
    width: 100%;
  }
  .bmiCalculatorBg {
    margin-top: 0;
  }
  .SearchBox {
    width: 500px;
  }

  .col-xxl-2.col-sm-3.sortbyright select.form-select {
    font-size: 16px;
  }
  .OurBlogs .OurHealthBlogContent figcaption {
    padding: 0 15px;
  }
  .col-md-6.OurHealthBlogContent p {
    font-size: 16px;
  }
  .row.slotdatebox {
    flex-wrap: wrap;
  }

  .col-md-6.slotdateboxleft {
    width: 100%;
  }
  .col-md-6.slotdateboxright {
    width: 100%;
    border-left: 0;
  }
  .col-md-4.badetailleft {
    width: 40%;
  }
  .col-md-8.badetailright {
    width: 60%;
  }
  .badetailright .pricetime {
    font-size: 22px;
  }

  .slottimelist {
    margin-bottom: 0;
  }
  .InnerpageSpace {
    padding-top: 100px;
  }
  ul.whoareList li {
    width: 50%;
  }

  .AboutBanner {
    background-position: left;
  }
  .bpheadleft h4 {
    font-size: 23px;
  }

  .bpheadleft {
    width: 100%;
  }
  .bookappoinmenthead {
    flex-wrap: wrap;
  }
  .pricetime {
    font-size: 20px;
    margin-top: 10px;
  }
  .bookappoinmentbody p {
    font-size: 14px;
  }
  .bookappoinmentbody h5 {
    font-size: 20px;
  }
  .fixspace {
    padding-top: 64px;
  }

  .servicelist p {
    font-size: 14px;
  }

  .InnerPageTitle {
    margin-bottom: 30px;
  }

  .btn-group-box .btn {
    width: 100%;
  }
  .textlink {
    flex-wrap: wrap;
    line-height: 0.7;
  }

  .getintouchinner .row.align-items-center {
    flex-direction: column;
  }
  .getintouchinner .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }
  .row.GetIntouchinnerright {
    border-left: 0;
    padding-left: 0;
  }

  .row.GetIntouchinnerright .col-md-6:nth-child(even) {
    display: none;
  }
  .col-md-6.getintouchinnerleft figure img {
    width: 100%;
  }
  .JoinourhealthContent {
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .Joinourhealth {
    height: 400px;
  }
  section.InnerpageSpace.bgpettern {
    padding-bottom: 0;
  }

  .blogbannertitle {
    font-size: 18px;
    top: 88px;
  }

  .row.row-cols-5.SmartKichinlistrow .col {
    width: 50%;
  }

  .row.row-cols-5.SmartKichinlistrow figure img {
    width: 100%;
  }
  .row.row-cols-5.SmartKichinlistrow figcaption h4 {
    height: auto;
  }

  .SmartKichinlistrow figcaption p {
    height: 53px;
  }

  .bannerSectionInner {
    margin-bottom: 0;
  }

  .OurServices .col-md-4 {
    width: 50%;
  }
  .FitnessJourneyContent h4 {
    font-size: 26px;
  }

  .FitnessJourneyContent h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .FitnessJourneyInner .link-text {
    font-size: 14px;
  }
  .JoinSubTitle {
    font-size: 16px;
    margin-top: 25px;
  }

  .OurVisionMission .col-md-6 {
    width: 100%;
  }

  .VisionMissionList {
    padding-top: 40px;
  }

  .OurVisionMission:after {
    width: 82%;
  }

  section.OurTEAM {
    padding-top: 35px;
  }
  .col-md-4.OurTeamsrowsL {
    width: 50%;
  }

  .col-md-8.OurTeamsrowsR {
    width: 50%;
  }
  .OurTeamsrowsL figure img {
    width: 240px;
    height: 240px;
  }
  .OurTeamsrowsR h4 {
    font-size: 22px;
  }
  .OurTeamsrowsR p {
    font-size: 14px;
  }

  .OurTeamsrowsR span {
    font-size: 18px;
  }
  .OurTeamsrowsL figure:after {
    height: 165px;
  }

  .MoreProfessional {
    padding: 15px 0;
  }

  section.MoreProfessional span img {
    width: 120px;
  }
  .MoreProfessional p {
    font-size: 24px;
  }
  .messageCofoundersTitle {
    margin-bottom: 40px;
  }
  .messageCofoundersTitle h2 {
    font-size: 32px;
  }
  .messageCofoundersBg figcaption {
    padding: 0 0;
  }
  .messageCofoundersBg figcaption p {
    font-size: 16px;
  }

  ul.ourapproachlist span {
    width: 65px;
    height: 65px;
    font-size: 26px;
  }

  .ourapproachlist .content {
    font-size: 12px;
  }

  ul.ourapproachlist li::after {
    top: 35px;
  }
  .DiabetesHealthPakages .col-md-3 {
    width: 50%;
  }

  .SmartKichin .PageTitle p {
    padding: 0 120px;
  }

  .PosterContent p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .innerbanner figure img {
    height: 280px;
  }
  .innerbannerContent {
    bottom: 10px;
  }
  .col-md-6.bannerSectionLeft.pe-0 {
    width: 50%;
  }
  .innerbannerContent h2 {
    font-size: 26px;
  }
  .innerbannerContent p {
    font-size: 14px;
  }
  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    width: 50%;
    padding-left: 0 !important;
  }
  .BestTag {
    margin-bottom: 14px;
    max-width: 186px;
    font-size: 14px;
  }

  .bannerSectionInner figure:after {
    display: none;
  }

  .bannerSectionLeft h1 {
    font-size: 18px;
  }

  .bannerSectionLeft .owl-p {
    font-size: 14px;
  }

  .ClientInfo p {
    font-size: 10px;
  }
  .ClientInfo b {
    font-size: 20px;
  }

  .bannerSection .BannerBtn a {
    padding: 10px 13px;
    margin-right: 10px;
  }

  .bannerSection .BannerBtn a {
    font-size: 14px;
  }

  .col-md-7.text-center.p-4.me-auto.AboutInfoLeft {
    padding: 10px !important;
  }

  .AboutInfo .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .AboutInfo .col-md-5.text-left {
    text-align: center;
  }

  .OurServices .OurServicesRow {
    width: 100%;
  }
  .btn {
    font-size: 12px;
  }

  .OurServicesContent .btn.max-btn {
    min-width: 100%;
  }

  .OurServicesContent {
    margin-bottom: 30px;
  }

  .VideBox iframe {
    width: 80%;
    height: 300px;
  }

  .SmartKichin .PageTitle p {
    padding: 0 0px;
  }

  .SmartKichin .btn-info {
    position: static;
    right: 0;
    top: 0;
    margin-top: 23px;
  }

  .col-md-4.SmartKichinContent figure img {
    width: 100%;
  }

  .SmartKichin .row .col-md-4 {
    margin-bottom: 30px;
  }

  .SmartKichinContent figcaption h3 {
    height: auto;
  }

  .SmartKichinContent figcaption h3 {
    font-size: 22px;
  }

  .AboutInfo h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .AboutInfoLeft p {
    font-size: 16px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 100%;
    margin: auto;
  }

  .LoginPage {
    background-position: 100%;
  }

  .fieldbox {
    margin-bottom: 15px !important;
  }

  .RegisterPage .SocialUsers {
    width: 100%;
    flex-wrap: wrap;
  }

  .RegisterPage .SocialUsers a {
    width: 90%;
    margin: auto;
    font-size: 14px;
  }

  .ToolsPageBox .col-md-8.pe-5 {
    padding-right: 0 !important;
    text-align: center;
    padding-left: 0;
  }
  .ToolsPageBox {
    padding: 25px 30px;
  }
  .ToolsPageBox .row {
    flex-direction: column-reverse;
  }
  .ToolsPageBox figure img {
    width: 100%;
    height: 209px;
    margin-bottom: 20px;
  }

  .ToolsPageBox:nth-child(odd) .row {
    flex-direction: column-reverse;
  }
  .ToolsPageBox:nth-child(odd) .row .col-md-8 {
    padding-left: 0px !important;
    text-align: center;
  }

  .InnerPageTitle h4 {
    font-size: 22px;
  }

  .InnerPageTitle p {
    font-size: 14px;
  }

  .ToolsPageBox h4 {
    font-size: 22px;
  }

  .innerbannerContent {
    padding: 0 12px;
  }
  ul.radioList li {
    margin-right: 0;
  }

  .SearchBox {
    width: 100%;
  }
  .filtersBoxInner select.form-select {
    width: 115px;
  }

  .col-xxl-2.col-sm-3.sortbyright select.form-select {
    font-size: 14px;
  }
  .col-md-4.badetailleft {
    width: 100%;
  }
  .col-md-8.badetailright {
    width: 100%;
    margin-top: 10px;
  }
  .badetailleft figure img {
    width: 100%;
    height: 636px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
  .OurTEAMhead h2 {
    font-size: 24px;
  }
  .OurTEAMhead p {
    font-size: 14px;
  }

  .OurTEAMhead {
    margin-bottom: 15px;
  }

  .price span {
    font-size: 22px;
  }
  .product-list figcaption h3 {
    margin-bottom: 12px;
    font-size: 14px;
  }

  body .owl-carousel .owl-item .product-list figure img {
    height: 300px;
  }
  .Browseservice button.owl-prev span,
  .Browseservice button.owl-next span {
    width: 14px;
    height: 23px;
  }

  .producttitle {
    margin-bottom: 25px;
  }
  .btn-group-box .btn {
    width: 49%;
  }

  .contactinfo .col-md-4 {
    margin-bottom: 20px;
  }
  .getintouchinnerleft h4 {
    font-size: 26px;
  }

  .JoinourhealthContent h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .JoinourhealthContent .btn.btn-primary {
    min-width: 335px;
    height: 59px;
    font-size: 16px;
    margin-top: 15px;
  }
  .row.row-cols-5.SmartKichinlistrow figcaption h4 {
    height: 50px;
  }
  .blogbannertitle {
    font-size: 14px;
    top: 88px;
    margin-bottom: 0;
  }
  .innerbannerContent h2 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .filterOwl button.owl-next span,
  .filterOwl button.owl-prev span {
    top: 50px;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  .AboutInfo .col-md-5.text-left img {
    width: 275px;
  }
  .FitnessJourneyContent {
    padding: 0 20px;
    width: 100%;
  }

  .FitnessJourneyInner .link-text {
    position: static;
  }

  .FitnessJourneyInner figure img {
    object-fit: cover;
    height: 270px;
  }
  .FitnessJourneyInner .btn-primary {
    min-width: 165px;
  }
  .messageCofoundersTitle h2 {
    font-size: 26px;
  }

  .BlogDeatils figure img {
    height: 400px;
  }
  .BlogDeatils .innerbannerContent h2 {
    font-size: 28px;
  }
  .contentbox {
    margin-bottom: 30px;
  }
  .heighlighttext {
    font-size: 28px;
  }

  .BlogDeatils figure img {
    height: 330px;
  }
  section.SmartKichin {
    width: 86%;
    margin: auto;
  }

  .our-approachmain {
    padding-top: 35px !important;
    padding-bottom: 20px !important;
  }

  ul.ourapproachlist span {
    width: 55px;
    height: 55px;
    font-size: 21px;
  }
  ul.ourapproachlist li::after {
    top: 29px;
  }

  .col-md-6.Diabetespageright {
    margin-top: 30px;
  }
  .PackageINclusion .pn-title {
    font-size: 24px;
  }
  .col-md-4.Packagecontent {
    width: 50%;
  }
  .Diabetespageleft figure img {
    height: 300px;
  }
  .Diabetespageright h3 {
    font-size: 26px;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .OurServicesRow .col-md-4 {
    width: 100%;
  }

  .AboutInfo .col-md-5.text-left figure img {
    width: 300px;
  }

  .bannerSectionInner figure img {
    width: 222px;
    margin: auto;
    display: block;
    margin-bottom: 0;
    padding-left: 15px;
  }
  .col-md-6.bannerSectionLeft.pe-0 {
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    position: absolute;
    right: 0;
    width: 180px;
    bottom: 17px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-top: 10px;
    margin-bottom: 38px;
    padding-right: 150px !important;
    width: 100%;
  }
  .circletagShape {
    top: -33px;
  }

  .BestTag {
    margin-bottom: 13px;
    max-width: max-content;
    font-size: 13px;
    padding: 0 15px;
  }

  .bannerSection .BannerBtn a {
    height: 40px;
  }

  .bannerSection .BannerBtn a {
    font-size: 12px;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    order: 2 !important;
  }
  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent .ps-3 {
    padding-left: 0 !important;
  }
  .col-md.col-sm-6.FooterContent {
    margin-bottom: 20px;
    width: 50%;
  }
  .header-btn {
    min-width: 120px;
    font-size: 12px;
    padding: 10px 7px;
    height: 33px;
  }

  button.navbar-toggler {
    width: 33px;
    height: 33px;
  }

  button.navbar-toggler span {
    width: 17px;
  }

  .AboutInfoLeft p {
    font-size: 14px;
  }

  .bannerSectionLeft h1 {
    margin-bottom: 10px;
  }

  .PageTitle h2 {
    font-size: 20px;
  }

  .formBox {
    background: linear-gradient(
      to bottom,
      rgb(237 237 237 / 64%) 0%,
      rgb(219 219 219) 100%
    );

    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .formBox {
    padding: 30px 20px 35px;
  }

  .btn.max-width {
    min-width: 100%;
  }

  .RegisterPage .col-md-7.me-auto {
    width: 100%;
  }

  .innerbanner figure img {
    height: 280px;
  }

  .innerbannerContent h2 {
    font-size: 24px;
  }

  .col-xxl-auto.col-sm-auto.taginfoleft {
    width: auto;
  }
  .col-xxl.taginforight {
    width: calc(100% - 115px);
  }
  .filtersBoxInner select.form-select {
    width: 25%;
    margin-left: auto;
  }
  .taginfolist li {
    height: 43px;
    padding: 18px 40px;
  }

  .sortbyright {
    margin-top: 20px;
  }
  .baheadtitle h3 {
    font-size: 26px;
  }
  .baheadtitle {
    margin-bottom: 0;
  }
  .OurTEAMhead h2 {
    font-size: 22px;
  }
  .OurTEAMhead span {
    font-size: 16px;
    margin-bottom: 8px !important;
    display: block;
  }
  button.owl-prev span {
    left: 0px;
    top: 45px;
  }

  .Browseservice {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .servicedetaillisting figcaption h3 {
    font-size: 26px;
  }
  .btn-group-box .btn {
    width: 49%;
    height: auto;
    padding: 12px 0;
  }
  .PosterContent p {
    font-size: 16px;
  }

  .AboutBannerContent h3 {
    font-size: 26px;
  }
  ul.whoareList li figcaption h3 {
    font-size: 20px;
  }
  .OurVisionMissionTitle p {
    font-size: 14px;
  }

  .OurMVBGcontent {
    font-size: 26px;
  }
  .col-md-4.OurTeamsrowsL {
    width: 100%;
  }
  .col-md-8.OurTeamsrowsR {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  .messageCofounders .col-md-6 {
    margin-bottom: 15px;
  }
  .price span {
    font-size: 18px;
  }
  .product-list figcaption {
    padding: 20px 15px 30px;
  }
  .producttitle {
    font-size: 22px;
  }

  .OurBlogs .OurHealthBlogContent figure img {
    height: auto;
  }
  .BlogDeatils .innerbannerContent h2 {
    font-size: 24px;
  }

  .SmartKichin {
    width: 74%;
    margin: auto;
  }
  .SmartKichinbox p {
    font-size: 16px;
  }

  ul.ourapproachlist li {
    width: 70%;
    flex: 0;
    margin: auto;
  }

  ul.ourapproachlist {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .ourapproachlist .content p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  a.navbar-brand img {
    width: 100px;
  }
  .header-btn {
    min-width: 107px;
    font-size: 11px;
    padding: 10px 1px;
    height: 30px;
    margin-left: 5px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    padding-right: 75px !important;
  }

  span.shapeImgLeft img {
    width: 116px;
  }

  span.shapeImgRight img {
    width: 116px;
  }

  .circletagShape {
    top: -132px;
  }

  .circletagShape img {
    width: 45px;
  }

  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    position: absolute;
    right: -7px;
    width: 109px;
    bottom: 38px;
  }

  .AboutInfo .col-md-5.text-left figure img {
    width: auto;
    margin-left: 0;
  }

  .OurHealthBlogContent figure img {
    height: 170px;
  }

  .ContactUs {
    width: 67%;

    left: 15px;
    top: 13px;
  }

  .form-checkList li {
    width: 100%;
  }

  .col-md.col-sm-6.FooterContent {
    margin-bottom: 20px;
    width: 100%;
  }

  .BottomFooter {
    flex-direction: column;
  }

  ul.BottomFooterList li:first-child {
    border-left: 0;
  }

  .ContactInfoList li {
    margin-bottom: 5px;
  }

  .innerbanner figure img {
    height: 255px;
  }

  .ToolsPageBox h4 {
    font-size: 20px;
  }

  ul.wightList li {
    padding: 0 5px;
  }

  .calculatebody {
    padding: 20px 20px;
  }

  .calculaField label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .calculaField.mb-3 {
    margin-bottom: 10px !important;
  }

  .calculateButton.text-center.mt-3 {
    margin-top: 0 !important;
  }
  .calculateHead {
    padding: 20px 20px;
  }

  .filtersBoxInner select.form-select {
    width: 40%;
    margin-left: auto;
  }
  .SearchBox {
    width: 88%;
  }
  .SearchBox input {
    height: 45px;
    font-size: 15px;
  }
  .apdinfo {
    flex-wrap: wrap;
  }
  .appoinmentsdetails {
    margin-top: 22px;
  }
  .apdinfo {
    margin-top: 15px;
  }
  .InnerpageSpace {
    padding-top: 70px;
  }
  .badetailleft figure img {
    height: 354px;
  }

  .OurTEAMhead h2 {
    font-size: 18px;
  }
  .btn.max-width {
    font-size: 16px;
  }

  .bookappoinmentl figure img {
    width: 97%;
  }
  .btn-group-box .btn {
    width: 100%;
  }

  .JoinourhealthContent .btn.btn-primary {
    min-width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
  }

  .getintouchinner {
    padding: 25px 20px;
  }
  .getintouchinnerleft h4 {
    font-size: 22px;
  }

  .OurServices .col-md-4 {
    width: 100%;
  }

  .OurServicesContent figcaption h3 {
    min-height: auto;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-bottom: 25px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-bottom: 20px;
  }

  span.circleshape img {
    width: 85px;
  }
  .OurServices {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .AboutInfo {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .whoareList {
    flex-wrap: wrap;
  }

  ul.whoareList li {
    width: 100%;
    padding-right: 0;
  }

  .BannerShape {
    display: none;
  }

  .FitnessJourneyContent h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .VisionMissioTitle {
    font-size: 14px;
  }

  .OurMVBGcontent {
    width: 65px;
  }

  .OurMVBGcontent {
    font-size: 22px;
  }

  .AboutBanner {
    padding-bottom: 25px;
    height: auto;
  }

  .OurTeamsrowsL figure img {
    width: 150px;
    height: 150px;
  }

  .OurTeamsrowsL figure:after {
    height: 105px;
  }

  .col-md-8.OurTeamsrowsR {
    margin-top: 15px;
  }
  .messageCofoundersTitle {
    margin-bottom: 20px;
  }

  .messageCofoundersTitle h2 {
    font-size: 22px;
  }

  .OurVisionMissionTitle {
    padding: 25px 10px 20px;
  }
  .Browseservice {
    width: 85%;
  }
  .productslists {
    padding: 0 20px;
  }
  .allpakages button.owl-next span {
    right: -2px;
  }
  .allpakages button.owl-prev span {
    left: -2px;
  }

  .calculaField {
    flex-wrap: wrap;
  }

  .calculaField label {
    min-width: 100%;
    max-width: 100%;
  }

  .taginfo {
    left: 0;
    top: 56px;
  }
  .BlogDeatils figure img {
    height: 260px;
  }
  .BlogDeatils .innerbannerContent h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .heighlighttext {
    font-size: 24px;
    line-height: 1.2;
  }

  .contentbox h4 {
    font-size: 18px;
  }
  .contentbox p {
    font-size: 14px;
  }
  .heighlighttext {
    margin-bottom: 20px;
  }

  .JoinourhealthContent h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .Bytext span {
    font-size: 11px;
  }
  .heighlighttext {
    font-size: 22px;
  }
  .row.row-cols-5.SmartKichinlistrow .col {
    width: 100%;
  }

  .DiabetesHealthPakages .col-md-3 {
    width: 100%;
  }

  .col-md-4.Packagecontent {
    width: 100%;
  }
  .OurServices .owl-carousel.owl-theme {
    width: 75%;
    margin: auto;
  }
}
