.zigzagtextcontent {
  padding: 0 20px;
}

@media (min-width: 576px) {
  .zigzagtextcontent {
    max-width: 540px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .zigzagtextcontent {
    max-width: 720px;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .zigzagtextcontent {
    max-width: 960px;
    padding: 0 15px;
  }

  .BestTag {
    max-width: 172px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px 0;
  }
}

.owl-p {
  margin: 24px 0;
}

@media (max-width: 1200px) {
  .bannerSectionLeft ul li,
  .owl-p {
    font-size: 14px;
    margin-bottom: 6px;
  }
}

@media (max-width: 1400px) {
  .ClientListinfo {
    margin: 15px 0 !important;
  }
}

@media (min-width: 1200px) {
  .zigzagtextcontent {
    max-width: 1140px;
    padding: 0 15px;
  }

  span.bannerup {
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
  .circletagShape img {
    width: 90px;
  }

  span.bannerup {
    margin-left: 0;
  }

  .zigzagtextcontent {
    max-width: 1320px;
    padding: 0 15px;
  }
}

@media (max-width: 1400px) {
  .ourvaluebox {
    font-size: 15px;
  }

  .wearecontent p {
    font-size: 18px;
  }

  .Trasnformboxbox h3 {
    font-size: 20px;
  }

  .Carrerbannerleft h3 {
    font-size: 32px;
  }

  .service-btn a {
    min-width: 160px !important;
    font-size: 11px;
    padding: 0 4px;
    height: 42px;
  }

  .MuktiBoxRight figure img {
    width: 380px;
  }

  .MuktiBoxRight h4 {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .MuktiBoxRight p {
    font-size: 14px;
  }

  .WhyUsinner h4 {
    font-size: 20px;
  }

  .AboutInfoLeft p {
    font-size: 16px;
  }

  .AboutInfo h2 {
    font-size: 28px;
  }

  .butterflyone {
    right: 588px !important;
  }

  span.butterflytwo {
    right: 538px !important;
  }

  span.butterflythree {
    right: 513px !important;
    top: 78px !important;
  }

  .calculatebody {
    width: 100%;
  }

  .taginfo {
    right: 0;
    top: 60px;
  }

  .userlinks li a {
    font-size: 10px;
  }

  .imgcardcontent h4 {
    font-size: 30px;
  }

  .stayaheadbg h4 {
    font-size: 34px;
  }

  .stayaheadbg span {
    font-size: 22px;
  }

  .stayaheadbg p {
    font-size: 18px;
  }

  .stayaheadbg p {
    font-size: 18px;
  }

  .contactinfobox a {
    font-size: 16px;
  }

  .contactinfobox a {
    font-size: 16px;
  }

  .clientcontentbg > p {
    min-height: 90px;
  }

  .EventsBannercontent h3 {
    font-size: 43px;
  }

  .contactinfobox {
    padding: 25px 10px;
  }

  .contactinfobox span {
    margin-right: 4px !important;
  }

  .GetIntouchinnerright .form-checkList label.form-check-label {
    margin-bottom: 0;
  }

  .GetIntouchinnerright .col-md-6.mb-3 {
    margin-bottom: 12px !important;
  }

  .tabslist li a {
    padding: 12px 18px;
    font-size: 14px;
  }

  .tabslist {
    gap: 10px;
  }

  .pakageheadtitle h4 {
    font-size: 20px;
  }

  .pakagebody span {
    font-size: 16px;
  }

  .cardcontent p {
    font-size: 18px;
  }

  .logoutbtn {
    font-size: 14px;
  }

  .pakageheadtitle h4 {
    font-size: 22px;
  }

  .Carrerbannerleft p {
    font-size: 16px;
  }

  .wearecontent h3 {
    font-size: 58px;
  }

  .cardhead h3 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) and (max-width: 1680px) {
  /* .MuktiBox,
  .PosterSec {
    height: 484px;
  } */

  .btn.btn-primary.xm-btn {
    font-size: 15px;
  }

  .OurServices.bg-solid {
    padding-bottom: 0;
  }

  .col-md-5.text-left figure img {
    width: 365px;
    z-index: 9;
    position: relative;
  }

  .OurServicesContent figcaption h3 {
    font-size: 20px;
  }

  .OurServicesRow .col-md-4 {
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .VideBox iframe {
    height: 400px;
  }

  .SmartKichin .PageTitle.text-center {
    padding: 0 170px;
  }

  .SmartKichinContent figcaption {
    width: 294px;
  }

  .Login-info.d-flex.align-items-center {
    padding-left: 30px;
  }

  .bannerSectionLeft h1 {
    font-size: 32px;
  }

  .innerbanner figure img {
    height: 380px;
  }

  .innerbannerContent h2 {
    font-size: 28px;
  }

  .innerbannerContent p {
    font-size: 16px;
  }

  .ToolsPageBox h4 {
    margin-bottom: 10px;
    font-size: 26px;
  }

  section.InnnerPage.bmiCalculator.InnerSpace .col-md-5 {
    width: 44%;
  }

  ul.wightList h4 {
    font-size: 18px;
  }

  .calculainSelect input.form-control {
    font-size: 16px;
    height: 54px;
  }

  .calculainSelect .form-select {
    padding-left: 10px;
    font-size: 14px;
  }

  .calculaField label {
    font-size: 18px;
  }

  .calculateButton .btn.btn-primary {
    height: 50px;
  }

  .radioList [type="radio"]:checked + label,
  .radioList [type="radio"]:not(:checked) + label {
    font-size: 18px;
  }

  .calculaField label {
    font-size: 18px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 40%;
  }

  .VisionMissioTitle {
    font-size: 14px;
  }

  .OurVisionMissionTitle p {
    font-size: 15px;
  }

  .VisionMissionList {
    padding-top: 140px;
  }

  .OurVisionMission.OurVisionMissionOdd .row {
    flex-direction: row-reverse;
    align-items: center;
  }

  .OurTEAMhead h2 {
    font-size: 32px;
  }

  .OurTEAMhead span {
    font-size: 18px;
  }

  .AboutBanner {
    background-size: cover;
    height: 465px;
  }

  .AboutBannerContent h3 {
    font-size: 32px;
  }

  ul.whoareList li {
    width: 38%;
  }

  .OurMVBGcontent {
    font-size: 26px;
  }

  .OurTeamsrowsL figure img {
    width: 245px;
    height: 245px;
  }

  .OurTeamsrowsL figure:after {
    height: 185px;
  }

  .messageCofoundersBg figcaption {
    padding: 0 25px;
  }

  .messageCofoundersTitle {
    margin-bottom: 48px;
  }

  .messageCofoundersTitle h2 {
    font-size: 30px;
  }

  .MoreProfessional {
    font-size: 30px;
  }

  .MoreProfessional span img {
    width: 145px;
  }

  ul.whoareList li {
    padding-right: 70px;
  }

  .col-md-6.OurHealthBlogContent p {
    font-size: 16px;
  }

  .OurHealthBlogContent figcaption h3 {
    font-size: 22px;
  }

  .OurBlogs .OurHealthBlogContent figure img {
    height: 395px;
  }

  .SearchBox input {
    height: 48px;
    font-size: 16px;
  }

  .btnserch .btn {
    height: 48px;
  }

  .DiabetesHealthcontent figcaption h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .pn-title {
    font-size: 32px;
  }

  .Packagecontent figcaption h4 {
    font-size: 20px;
  }

  ul.whoareList li figcaption h3 {
    font-size: 22px;
  }

  .Packagecontent figcaption p {
    font-size: 14px;
  }

  .Diabetespageleft figure img {
    width: 600px;
    height: 485px;
  }

  .Diabetespageright h3 {
    font-size: 32px;
  }

  .servicelist p {
    font-size: 12px;
  }

  .product-list figcaption h3 {
    font-size: 20px;
    min-height: 48px;
  }

  .price span {
    font-size: 24px;
  }

  body .owl-carousel .owl-item .product-list figure img {
    height: 350px;
  }

  .bpheadleft h4 {
    font-size: 28px;
  }

  .bpheadleft p {
    font-size: 18px;
  }

  .pricetime {
    font-size: 22px;
  }

  .bookappoinmentbody p {
    font-size: 16px;
  }

  .baheadtitle h3 {
    font-size: 32px;
  }

  .baheadtitle p {
    font-size: 18px;
  }

  .badetailright .pricetime {
    font-size: 26px;
  }

  .slottitle {
    font-size: 18px;
  }

  .baheadtitle {
    margin-bottom: 10px;
  }

  .slottimelist li {
    width: 26%;
  }

  .slottimelist li {
    font-size: 14px;
  }

  .btn-group-box {
    gap: 9px;
  }

  .btn-group-box .btn {
    font-size: 15px;
  }

  .servicedetaillisting figcaption h3 {
    font-size: 28px;
  }

  .servicedetaillisting figcaption p {
    font-size: 14px;
  }

  .servicedetail p {
    font-size: 14px;
  }

  .JoinourhealthContent h3 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .blogbannertitle {
    font-size: 14px;
  }

  .SmartKichinbox p {
    font-size: 16px;
  }

  .bannerSection .owl-nav svg {
    width: 16px;
  }

  .Clientbefore figure img {
    height: 170px;
  }

  .cardcontent h3 {
    font-size: 28px;
  }

  span.bannerup img {
    width: 235px;
    margin-left: -44px;
  }
}

@media (max-width: 1199px) {
  span.bannerup {
    margin-left: -20px;

    top: 48px;
  }

  .owl-theme .owl-nav {
    display: none !important;
  }

  .bannerSection {
    overflow: hidden;
  }

  .blogbannertitle {
    font-size: 30px;
  }

  .bannerSectionInner figure:after {
    width: 400px;
    height: 400px;
  }

  .Login-info {
    padding-left: 10px;
  }

  header .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0 11px !important;
  }

  .header-btn {
    min-width: 135px;
  }

  .bannerSectionLeft h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .bannerSection .BannerBtn a {
    font-weight: 700;
    font-size: 16px;
  }

  .circletagShape img {
    width: 63px;
  }

  .AboutInfo {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .OurServicesRow .col-md-4 {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .VideBox iframe {
    width: 65%;
  }

  .SmartKichin .PageTitle p {
    padding: 0 180px;
  }

  .SmartKichinContent figcaption {
    width: 90%;
  }

  .SmartKichinContent figcaption h3 {
    font-size: 20px;
  }

  .OurHealthBlogContent figcaption h3 {
    font-size: 20px;
  }

  .PageTitle {
    margin-bottom: 35px;
  }

  .trailofferList li {
    font-size: 13px;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }

  .OurServicesContent .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .OurServicesContent .btn:last-child {
    margin-bottom: 0;
  }

  .SmartKichinContent figcaption p {
    font-size: 14px;
  }

  .PosterContent h2 {
    font-size: 22px;
  }

  .PageTitle p {
    font-size: 15px;
  }

  .form-checkList li {
    width: 46%;
  }

  .GetIntouchRight .col-md-6.mb-3 {
    margin-bottom: 15px !important;
  }

  .GetIntouchRight {
    padding-bottom: 30px;
  }

  .AboutInfo h2 {
    font-size: 28px;
  }

  .AboutInfoLeft p {
    font-size: 18px;
  }

  .menuRows {
    margin-top: 50px;
  }

  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent {
    width: 50%;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    margin-top: 35px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 50%;
  }

  .LoginPage {
    background-position: center;
  }

  .formBox {
    padding: 30px 35px 35px;
  }

  .RegisterPage .SocialUsers {
    width: 95%;
  }

  .innerbanner figure img {
    height: 355px;
  }

  .innerbannerContent h2 {
    font-size: 32px;
  }

  .innerbannerContent p {
    font-size: 14px;
  }

  .ToolsPageBox h4 {
    font-size: 24px;
  }

  .ToolsPageBox p {
    font-size: 14px;
  }

  .circletagShapeBox {
    right: 30px;
    top: 191px;
  }

  .heartBeatImg {
    width: 17px;
  }

  .wightList figure img {
    height: 250px;
  }

  ul.wightList h4 {
    font-size: 15px;
  }

  .yourBmi span {
    font-size: 20px;
  }

  .calculatebody {
    width: 95%;
  }

  .calculaField label {
    font-size: 18px;
  }

  .bmiCalculator input.form-control,
  .bmiCalculator select.form-select {
    font-size: 14px;
    height: 48px;
  }

  .calculateButton .btn.btn-primary {
    font-size: 16px;

    min-width: 65%;
    height: 48px;
  }

  .radioList [type="radio"]:checked + label,
  .radioList [type="radio"]:not(:checked) + label {
    font-size: 16px;
  }

  .radioList [type="radio"]:checked + label:before,
  .radioList [type="radio"]:not(:checked) + label:before {
    width: 25px;
    height: 25px;
  }

  .radioList [type="radio"]:checked + label:after,
  .radioList [type="radio"]:not(:checked) + label:after {
    width: 13px;
    height: 13px;
    top: 6px;
    left: 6px;
  }

  .calculaField label {
    font-size: 14px;
  }

  .ResultBox {
    flex-wrap: wrap;
    width: 100%;
  }

  .ResultBox-right {
    width: 148px;
  }

  .ResultBox-left {
    width: 100%;
    flex: initial;
  }

  .col-md-6.ps-4 {
    padding-left: 15px !important;
  }

  .SearchBox input {
    height: 48px;
    font-size: 16px;
  }

  .baheadtitle h3 {
    font-size: 32px;
  }

  .baheadtitle p {
    font-size: 18px;
  }

  .badetailright .pricetime {
    font-size: 28px;
  }

  .adlistinfo li h4 {
    font-size: 18px;
  }

  .adlistinfo li span {
    font-size: 18px;
  }

  .slottimelist li {
    width: 33%;
  }

  .slottimelist {
    gap: 5px 15px;
  }

  .slottimelist li {
    font-size: 14px;
  }

  .slottimelist li {
    width: 29%;
  }

  .slottitle {
    font-size: 18px;
  }

  .adlistinfo li h4 {
    font-size: 16px;
  }

  .adlistinfo li span {
    font-size: 16px;
  }

  .AboutBanner {
    background-size: cover;
    height: 465px;
    background-position: right 56px;
  }

  ul.whoareList li {
    width: 31%;
    padding-right: 20px;
  }

  .AboutBannerContent h3 {
    font-size: 32px;
  }

  .OurTEAMhead h2 {
    font-size: 32px;
  }

  .OurTEAMhead span {
    font-size: 18px;
  }

  .OurTEAMhead p br {
    display: none;
  }

  .bpheadleft h4 {
    font-size: 28px;
  }

  .bpheadleft p {
    font-size: 18px;
  }

  .pricetime {
    font-size: 20px;
  }

  .bookappoinmentbody p {
    font-size: 16px;
  }

  .product-list figcaption {
    padding: 20px 22px 30px;
  }

  .btn-group-box {
    gap: 7px;
  }

  .btn-group-box {
    margin-top: 20px;
  }

  .servicedetaillisting figcaption h3 {
    font-size: 28px;
  }

  .textlink a {
    font-size: 14px;
    display: block;
  }

  .JoinourhealthContent h3 {
    font-size: 42px;
  }

  .JoinourhealthContent p {
    font-size: 16px;
  }

  .row.row-cols-5.SmartKichinlistrow .col {
    width: 25%;
  }

  .row.row-cols-5.SmartKichinlistrow {
    justify-content: center;
  }

  .btnserch .btn {
    height: 48px;
    font-size: 13px;
    text-align: center;
    line-height: 1.1;
  }

  span.tag-info {
    font-size: 13px;
  }

  .bannerSection .owl-nav {
    display: none;
  }

  .product-list figcaption h3 {
    font-size: 18px;
  }

  .price span {
    font-size: 24px;
  }

  .servicelist p {
    font-size: 14px;
  }

  .allpakages button.owl-next span,
  .allpakages button.owl-prev span {
    background-size: 11px;
    background-repeat: no-repeat;
  }

  .allpakages button.owl-next span {
    right: 6px;
  }

  .allpakages button.owl-prev span {
    left: 6px;
  }

  .InnerPageTitle h4 {
    font-size: 24px;
  }

  .InnerPageTitle {
    margin-bottom: 30px;
  }

  .BlogDeatils .innerbannerContent h2 {
    font-size: 32px;
  }

  .contentbox p {
    font-size: 16px;
  }

  .content {
    padding: 0px 10px;
  }

  .PackageINclusion .pn-title {
    font-size: 28px;
  }

  .Diabetespageleft figure img {
    height: 445px;
  }

  .DiabetesHealthcontent figcaption h3 {
    font-size: 18px;
  }

  .DiabetesHealthPakages .col-md-3 {
    width: 33%;
  }

  .Packagecontent figcaption h4 {
    font-size: 18px;
  }

  .Diabetespageright h3 {
    font-size: 28px;
  }

  .PackageINclusion .pn-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .Packagecontent figcaption p {
    font-size: 14px;
  }

  .OurHealthBlog .text-center.btn-sec.mt-4 {
    margin-top: 0 !important;
  }

  .Browseservice button.owl-next span,
  .Browseservice button.owl-prev span {
    top: 40px;
  }

  body .owl-carousel .owl-item .product-list figure img {
    height: 200px;
  }

  body .owl-carousel .owl-item .bannerSectionInner figure img {
    margin: 45px 0 30px;
    height: 535px;
    width: 315px !important;
    object-fit: fill;
  }

  .addtobag .col-md-6 {
    width: 50%;
  }

  .addtobag .col-md-5.ms-auto {
    width: 47%;
  }

  .ordersummarylist .price-text {
    font-size: 20px;
  }

  .ordersummarylist figure img {
    width: 100px;
    height: 100px;
  }

  .discoutBox input.form-control {
    font-size: 15px;
  }

  .Pricebrnkdownlist li span {
    font-size: 14px;
  }

  .Pricebrnkdownlist li b {
    font-size: 14px;
  }

  .addtobaghead h4 {
    font-size: 18px;
  }

  .testiuser figcaption h4 {
    font-size: 16px;
  }

  .clientcontentbg > p {
    min-height: 80px;
  }

  .clientcontentbg > p {
    font-size: 12px;
  }

  .testiuser figure img {
    height: 50px;
  }

  .clientcontentbg > p {
    min-height: 75px;
  }

  .Browseservice .slick-prev {
    left: -195px !important;
  }

  .WhyUsinner h4 {
    font-size: 18px;
  }

  .WhyUsinner p {
    font-size: 14px;
  }

  .WhyUsinner {
    height: 100%;
  }

  .stayaheadbg h4 {
    font-size: 28px;
  }

  .service-btn {
    flex-wrap: wrap;
  }

  .OurServicesContent figcaption h3 {
    font-size: 18px;
  }

  .messageCofoundersTitle h2 {
    font-size: 32px;
  }

  .messageCofoundersTitle {
    margin-bottom: 35px;
  }

  .EventsBannercontent h3 {
    font-size: 38px;
  }

  div#upcomingevent {
    padding-bottom: 0;
  }

  .whyattentbox h4 {
    font-size: 14px;
  }

  .Pasteventsslider .owl-carousel .owl-item .item .pasteventbox img {
    height: 200px;
  }

  .Pasteventsslider .owl-item.center .eventstext {
    font-size: 10px;
  }

  .zigzagtext h3 {
    font-size: 45px;
  }

  /* .filtersBox .owl-carousel.owl-theme.owl-loaded.owl-drag {
    width: 86%;
  } */

  .MuktiBoxLeft {
    display: none;
  }

  .MuktiBox .col-md-6.ms-auto {
    width: 100%;
  }

  .filtersBoxInner .owl-theme .owl-nav {
    display: block !important;
  }

  /* .col-auto.sortbyright {
    margin: 20px auto 0;
  } */

  .formBox .btn.btn-link {
    color: #000 !important;
    font-weight: 600;
    text-decoration: underline !important;
  }

  .CarrerShape2 {
    top: 170px;
  }

  .CarrerShape3 {
    bottom: 50px;
  }

  .Trasnform {
    padding-top: 0;
  }

  .ourvaluebox {
    padding: 20px 12px 18px 45px;
  }

  .CarrerShape1 {
    right: -62px;
    top: -38px;
  }

  span.CarrerShape1 img {
    width: 231px;
  }

  .Trasnformbox .col-md-3 {
    width: 50%;
  }

  .cardcontent h3 {
    font-size: 30px;
  }

  ul.tabslist {
    flex-wrap: wrap;
  }

  .tabscardbox {
    align-items: flex-start !important;
  }

  .logoutbtn {
    min-width: 140px;
  }

  .tabscardbox {
    align-items: flex-start !important;
  }

  .Cardbody .col-md-6.mb-3 {
    margin-bottom: 15px !important;
  }

  span.bannerup img {
    width: 176px;
    margin-left: 0;
  }

  .PosterSec {
    padding: 50px 0;
    background-position: center;
    height: auto;
  }
  .btn.btn-primary.xm-btn {
    font-size: 15px;
  }

  .MuktiBox {
    height: auto;
  }
}

@media (max-width: 991px) {
  .clienttrusted {
    padding-right: 0;
    line-height: 0.1;
  }

  .clientcontentbg > p {
    font-size: 13px;
  }

  .ToolsPageBox:nth-child(odd) .row .col-md-8 {
    padding-left: 40px !important;
  }

  .ToolsPageBox {
    padding: 25px 50px;
  }

  header .navbar-nav .nav-link.active:after {
    display: none;
  }

  header .navbar-nav .nav-link {
    padding: 7px 17px !important;
    color: #fff;
  }

  .circletagShapeBox {
    right: 27px;
    top: 128px;
  }

  .navbar-collapse.show {
    margin-left: 0;
    left: 0;
    transition: 0.5s;
  }

  .navbar-collapse {
    background-color: #000;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: -227px;
    top: 0;
    transition: 0.3s;
    width: 227px;
    z-index: 9;
  }

  .navRight {
    flex-direction: row-reverse;
  }

  .bannerSectionLeft h1 {
    font-size: 20px;
  }

  .ClientListinfo li {
    padding-right: 20px;
    margin-right: 20px;
  }

  .ClientListinfo {
    margin-bottom: 20px;
  }

  .bannerSectionLeft h1 {
    margin-bottom: 22px;
  }

  .bannerSectionInner figure:after {
    width: 300px;
    height: 300px;
  }

  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent {
    width: 50%;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    margin-top: 30px;
  }

  footer {
    padding-top: 25px;
  }

  .BottomFooter {
    margin-top: 30px;
  }

  button.navbar-toggler {
    background: #000;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 9px;
    opacity: 1;
  }

  button.navbar-toggler.collapsed span {
    filter: brightness(0) invert(1);
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
  }

  header {
    padding: 10px 0;
  }

  .ClientInfo p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .bannerSection .BannerBtn a {
    font-size: 16px;
    height: 45px;
  }

  .ClientInfo b {
    font-size: 24px;
  }

  .OurServicesRow .col-md-4 {
    width: 50%;
  }

  .OurServicesContent figcaption h3 {
    font-size: 20px;
  }

  .SmartKichinContent figcaption h3 {
    font-size: 18px;
  }

  .btn {
    height: 40px;
  }

  .infobox.infoboxLeft {
    top: -83px;
  }

  .infobox.infoboxLeftRight {
    top: auto;
    bottom: 30px;
  }

  .infobox h4 {
    font-size: 23px;
  }

  section.trailoffer .col-md-6.pe-5 {
    padding-right: 20px !important;
  }

  .trailofferform .col-md-6.mb-3 {
    width: 100%;
  }

  .LoginPage .col-md-4.me-auto {
    width: 65%;
    margin: auto;
  }

  .RegisterPage .col-md-7.me-auto {
    width: 90%;
    margin: auto;
  }

  .bannerSectionInner {
    margin-bottom: -28px;
  }

  .bannerSectionInner figure:after {
    display: none;
  }

  span.circleshape2 {
    display: none;
  }

  .InnnerPage.bmiCalculator .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .InnnerPage.bmiCalculator .col-md-5.ms-auto {
    width: 100%;
  }

  .bmiCalculatorBg {
    margin-top: 0;
  }

  .col-xxl-2.col-sm-3.sortbyright select.form-select {
    font-size: 16px;
  }

  .OurBlogs .OurHealthBlogContent figcaption {
    padding: 0 15px;
  }

  .col-md-6.OurHealthBlogContent p {
    font-size: 16px;
  }

  .row.slotdatebox {
    flex-wrap: wrap;
  }

  .col-md-6.slotdateboxleft {
    width: 100%;
  }

  .col-md-6.slotdateboxright {
    width: 100%;
    border-left: 0;
  }

  .col-md-4.badetailleft {
    width: 40%;
  }

  .col-md-8.badetailright {
    width: 60%;
  }

  .badetailright .pricetime {
    font-size: 22px;
  }

  .slottimelist {
    margin-bottom: 0;
  }

  .InnerpageSpace {
    padding-top: 100px;
  }

  ul.whoareList li {
    width: 50%;
  }

  .AboutBanner {
    background-position: left;
  }

  .bpheadleft h4 {
    font-size: 23px;
  }

  .bpheadleft {
    width: 100%;
  }

  .bookappoinmenthead {
    flex-wrap: wrap;
  }

  .pricetime {
    font-size: 20px;
    margin-top: 10px;
  }

  .bookappoinmentbody p {
    font-size: 14px;
  }

  .bookappoinmentbody h5 {
    font-size: 20px;
  }

  .fixspace {
    padding-top: 64px;
  }

  .servicelist p {
    font-size: 14px;
  }

  .InnerPageTitle {
    margin-bottom: 30px;
  }

  .btn-group-box .btn {
    width: 100%;
  }

  .textlink {
    flex-wrap: wrap;
    line-height: 0.7;
  }

  .getintouchinner .row.align-items-center {
    flex-direction: column;
  }

  .getintouchinner .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .row.GetIntouchinnerright {
    border-left: 0;
    padding-left: 0;
  }

  .row.GetIntouchinnerright .col-md-6:nth-child(even) {
    display: none;
  }

  .col-md-6.getintouchinnerleft figure img {
    width: 100%;
  }

  .JoinourhealthContent {
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .Joinourhealth {
    height: 400px;
  }

  section.InnerpageSpace.bgpettern {
    padding-bottom: 0;
  }

  .blogbannertitle {
    font-size: 18px;
    top: 88px;
  }

  .row.row-cols-5.SmartKichinlistrow .col {
    width: 50%;
  }

  .row.row-cols-5.SmartKichinlistrow figure img {
    width: 100%;
  }

  .row.row-cols-5.SmartKichinlistrow figcaption h4 {
    height: auto;
  }

  .SmartKichinlistrow figcaption p {
    height: 53px;
  }

  .bannerSectionInner {
    margin-bottom: 0;
  }

  .OurServices .col-md-4 {
    width: 50%;
  }

  .FitnessJourneyContent h4 {
    font-size: 26px;
  }

  .FitnessJourneyContent h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .FitnessJourneyInner .link-text {
    font-size: 14px;
  }

  .JoinSubTitle {
    font-size: 16px;
    margin-top: 25px;
  }

  .OurVisionMission .col-md-6 {
    width: 100%;
  }

  .VisionMissionList {
    padding-top: 40px;
  }

  .OurVisionMission:after {
    width: 82%;
  }

  section.OurTEAM {
    padding-top: 35px;
  }

  .col-md-4.OurTeamsrowsL {
    width: 50%;
  }

  .col-md-8.OurTeamsrowsR {
    width: 50%;
  }

  .OurTeamsrowsL figure img {
    width: 240px;
    height: 240px;
  }

  .OurTeamsrowsR h4 {
    font-size: 22px;
  }

  .OurTeamsrowsR p {
    font-size: 14px;
  }

  .OurTeamsrowsR span {
    font-size: 18px;
  }

  .OurTeamsrowsL figure:after {
    height: 165px;
  }

  .MoreProfessional {
    padding: 15px 0;
  }

  section.MoreProfessional span img {
    width: 120px;
  }

  .MoreProfessional p {
    font-size: 24px;
  }

  .messageCofoundersTitle {
    margin-bottom: 40px;
  }

  .messageCofoundersTitle h2 {
    font-size: 32px;
  }

  .messageCofoundersBg figcaption {
    padding: 0 0;
  }

  .messageCofoundersBg figcaption p {
    font-size: 16px;
  }

  ul.ourapproachlist span {
    width: 65px;
    height: 65px;
    font-size: 26px;
  }

  .ourapproachlist .content {
    font-size: 12px;
  }

  ul.ourapproachlist li::after {
    top: 35px;
  }

  .DiabetesHealthPakages .col-md-3 {
    width: 50%;
  }

  .SmartKichin .PageTitle p {
    padding: 0 120px;
  }

  .PosterContent p {
    font-size: 16px;
  }

  body .owl-carousel .owl-item .bannerSectionInner figure img {
    height: 390px;
    width: 227px !important;
  }

  .owl-p ul li {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .addtobag .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .addtobag .col-md-5.ms-auto {
    width: 100%;
  }

  .clienttrusted {
    font-size: 24px;
  }

  .clienttrusted {
    padding-right: 20px;
  }

  .clienttrusted img {
    width: 112px;
  }

  .JoinNow h4 {
    font-size: 32px;
  }

  .clientafterbefore {
    padding: 22px 20px 15px;
  }

  .CleintSuccess:after {
    width: 400px;
    height: 400px;
  }

  .ThankyouModal h4 {
    font-size: 120px;
  }

  .EventsBannercontent p {
    font-size: 16px;
  }

  .EventsBannercontent p {
    font-size: 16px;
  }

  .upcomingbox figcaption {
    padding: 20px 0;
  }

  .Pasteventsslider .owl-carousel .owl-item .item .pasteventbox img {
    height: 160px;
  }

  .Pasteventsslider .owl-item.active.center .item {
    height: 120px;
  }

  .Pasteventsslider .owl-nav button.owl-prev {
    left: 0;
  }

  .Pasteventsslider .owl-nav button.owl-next {
    right: 0;
  }

  .Pasteventsslider {
    margin-top: -30px;
  }

  .typeseventsbox p {
    font-size: 14px;
  }

  .owl-carousel .owl-item .typeseventsbox figure img {
    height: 380px;
  }

  .gotquestionscontent h4 {
    font-size: 35px;
  }

  .gotquestionscontent p {
    font-size: 14px;
  }

  .upcomingbox {
    padding: 20px 15px;
  }

  .eventinfolist li {
    padding: 5px 5px;
  }

  .upcomingbox {
    padding: 20px 15px;
  }

  .eventsbtn .btn.btn-primary {
    font-size: 13px;
  }

  .owl-carousel .owl-item .upcomingbox figure img {
    height: 254px;
  }

  .whypartner .col {
    order: 1;
  }

  .whypartner .col-md-4.text-center {
    width: 100%;
  }

  ul.whyparthnerlist.whyp-odd li {
    flex-direction: column-reverse;
  }

  .whyparthnerlist.whyp-odd li {
    flex-direction: column-reverse;
  }

  .whyparthnerlist.whyp-odd figure {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px !important;
  }

  .whyparthnerlist figure {
    margin-bottom: 15px !important;
  }

  /* .row.align-items-center {
    align-items: flex-start !important;
  } */

  .centerImg img {
    height: 385px;
    object-fit: contain;
  }

  .filtersBox .owl-carousel.owl-theme.owl-loaded.owl-drag {
    width: auto;
  }

  .GetIntouch {
    padding-top: 55px;
  }

  .filtersBoxInner .col-xxl-10.col-md-9.col-xl-10.col-sm-9 {
    width: 94%;
  }

  .filtersBoxInner .col-xxl-2.col-md-3.col-xl-2.col-sm-3.sortbyright {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 10px;
  }

  span.CarrerShape2 {
    display: none;
  }

  .Carrerbanner {
    padding-bottom: 123px;
    height: auto;
  }

  .wearecontent h3 {
    font-size: 42px;
  }

  .wearecontent p {
    font-size: 14px;
  }

  .Deleteicon {
    top: 32px;
  }

  .ordersummarylist figcaption h4 {
    font-size: 16px;
  }

  .wearecontent a {
    z-index: 9;
  }

  .wearecontent .btn.sm-btn {
    min-width: 200px;
  }

  .JoinImgvaerticle img {
    height: 300px;
    margin-top: 20px;
  }

  .imgcard img {
    height: 350px;
  }

  .imgsmcard img {
    height: 172px;
  }

  .filtersBox {
    padding-bottom: 0;
  }

  hr.dashed-text {
    margin: 15px 0 20px;
  }

  .innovationlist h3 {
    font-size: 20px;
  }

  .innovationlist figure img {
    height: 330px;
  }

  .FOLLOWUS.bannerfollow {
    bottom: 70px;
    right: 20px;
  }

  .FOLLOWUSlist li {
    width: 40px;
    height: 40px;
  }

  ul.FOLLOWUSlist li img {
    width: 19px;
    position: relative;
    top: -2px;
  }

  span.bannerup img {
    width: 176px;
    margin-left: 0;
    position: relative;
    top: -28px;
  }
}

@media (max-width: 767px) {
  .innerbanner figure img {
    height: 280px;
  }

  .innerbannerContent {
    bottom: 10px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    width: 50%;
  }

  .innerbannerContent h2 {
    font-size: 26px;
  }

  .innerbannerContent p {
    font-size: 14px;
  }

  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    width: 50%;
    padding-left: 0 !important;
  }

  .BestTag {
    margin-bottom: 14px;
    max-width: 186px;
    font-size: 14px;
  }

  .bannerSectionInner figure:after {
    display: none;
  }

  .bannerSectionLeft h1 {
    font-size: 18px;
  }

  .bannerSectionLeft .owl-p {
    font-size: 14px;
  }

  .ClientInfo p {
    font-size: 10px;
  }

  .ClientInfo b {
    font-size: 20px;
  }

  .bannerSection .BannerBtn a {
    padding: 10px 13px;
    margin-right: 10px;
  }

  .bannerSection .BannerBtn a {
    font-size: 14px;
  }

  .col-md-7.text-center.p-4.me-auto.AboutInfoLeft {
    padding: 10px !important;
  }

  .AboutInfo .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .AboutInfo .col-md-5.text-left {
    text-align: center;
  }

  .OurServices .OurServicesRow {
    width: 100%;
  }

  .btn {
    font-size: 12px;
  }

  .OurServicesContent .btn.max-btn {
    min-width: 100%;
  }

  .OurServicesContent {
    margin-bottom: 30px;
  }

  .VideBox iframe {
    width: 80%;
    height: 300px;
  }

  .SmartKichin .PageTitle p {
    padding: 0 0px;
  }

  .SmartKichin .btn-info {
    position: static;
    right: 0;
    top: 0;
    margin-top: 23px;
  }

  .SmartKichinContent figcaption h3 {
    height: auto;
  }

  .SmartKichinContent figcaption h3 {
    font-size: 22px;
  }

  .AboutInfo h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .AboutInfoLeft p {
    font-size: 16px;
  }

  .LoginPage .col-md-4.me-auto {
    width: 100%;
    margin: auto;
  }

  .LoginPage {
    background-position: 100%;
  }

  .fieldbox {
    margin-bottom: 15px !important;
  }

  .RegisterPage .SocialUsers {
    width: 100%;
    flex-wrap: wrap;
  }

  .RegisterPage .SocialUsers a {
    width: 90%;
    margin: auto;
    font-size: 14px;
  }

  .ToolsPageBox .col-md-8.pe-5 {
    padding-right: 0 !important;
    text-align: center;
    padding-left: 0;
  }

  .ToolsPageBox {
    padding: 25px 30px;
  }

  .ToolsPageBox .row {
    flex-direction: column-reverse;
  }

  .ToolsPageBox figure img {
    width: 100%;
    height: 209px;
    margin-bottom: 20px;
  }

  .ToolsPageBox:nth-child(odd) .row {
    flex-direction: column-reverse;
  }

  .ToolsPageBox:nth-child(odd) .row .col-md-8 {
    padding-left: 0px !important;
    text-align: center;
  }

  .InnerPageTitle h4 {
    font-size: 22px;
  }

  .InnerPageTitle p {
    font-size: 14px;
  }

  .ToolsPageBox h4 {
    font-size: 22px;
  }

  .innerbannerContent {
    padding: 0 12px;
  }

  ul.radioList li {
    margin-right: 0;
  }

  .SearchBox {
    width: 100%;
  }

  .filtersBoxInner select.form-select {
    width: 115px;
  }

  .col-xxl-2.col-sm-3.sortbyright select.form-select {
    font-size: 14px;
  }

  .col-md-4.badetailleft {
    width: 100%;
  }

  .col-md-8.badetailright {
    width: 100%;
    margin-top: 10px;
  }

  .AboutBannerContent {
    margin-bottom: 15px;
  }

  .badetailleft figure img {
    width: 100%;
    height: 636px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }

  .OurTEAMhead h2 {
    font-size: 24px;
  }

  .OurTEAMhead p {
    font-size: 14px;
  }

  .OurTEAMhead {
    margin-bottom: 15px;
  }

  .price span {
    font-size: 22px;
  }

  .product-list figcaption h3 {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .Browseservice button.owl-prev span,
  .Browseservice button.owl-next span {
    width: 14px;
    height: 23px;
  }

  .producttitle {
    margin-bottom: 25px;
  }

  .btn-group-box .btn {
    width: 49%;
  }

  .contactinfo .col-md-4 {
    margin-bottom: 20px;
  }

  .getintouchinnerleft h4 {
    font-size: 26px;
  }

  .JoinourhealthContent h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .JoinourhealthContent .btn.btn-primary {
    min-width: 335px;
    height: 59px;
    font-size: 16px;
    margin-top: 15px;
  }

  .row.row-cols-5.SmartKichinlistrow figcaption h4 {
    height: 50px;
  }

  .blogbannertitle {
    font-size: 14px;
    top: 88px;
    margin-bottom: 0;
  }

  .innerbannerContent h2 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .filterOwl button.owl-next span,
  .filterOwl button.owl-prev span {
    top: 50px;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  .AboutInfo .col-md-5.text-left img {
    width: 275px;
  }

  .FitnessJourneyContent {
    padding: 0 20px;
    width: 100%;
  }

  .FitnessJourneyInner .link-text {
    position: static;
  }

  .FitnessJourneyInner figure img {
    object-fit: cover;
    height: 270px;
  }

  .FitnessJourneyInner .btn-primary {
    min-width: 165px;
  }

  .messageCofoundersTitle h2 {
    font-size: 26px;
  }

  .BlogDeatils figure img {
    height: 400px;
  }

  .BlogDeatils .innerbannerContent h2 {
    font-size: 28px;
  }

  .contentbox {
    margin-bottom: 30px;
  }

  .heighlighttext {
    font-size: 28px;
  }

  .BlogDeatils figure img {
    height: 330px;
  }

  .our-approachmain {
    padding-top: 35px !important;
    padding-bottom: 20px !important;
  }

  ul.ourapproachlist span {
    width: 55px;
    height: 55px;
    font-size: 21px;
  }

  ul.ourapproachlist li::after {
    top: 29px;
  }

  .col-md-6.Diabetespageright {
    margin-top: 30px;
  }

  .PackageINclusion .pn-title {
    font-size: 24px;
  }

  .col-md-4.Packagecontent {
    width: 50%;
  }

  .Diabetespageleft figure img {
    height: 300px;
  }

  .Diabetespageright h3 {
    font-size: 26px;
    margin-bottom: 12px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    padding-right: 20px !important;
  }

  .bannerSection .BannerBtn a {
    font-size: 12px;
    height: 40px;
  }

  body .owl-carousel .owl-item .bannerSectionInner figure img {
    margin: 0;
    height: auto;
    width: 60% !important;
    object-fit: fill;
    margin-left: auto;
    top: 130px;
  }

  .bannerSection .owl-dots {
    margin-top: 20px;
  }

  .Clientbefore figure img {
    height: 150px;
  }

  .clientafterbefore {
    padding: 15px 10px 15px;
  }

  .Clientbefore h4 {
    font-size: 14px;
  }

  .clientafterbeforetitle {
    font-size: 14px;
  }

  .JoinNow h4 {
    font-size: 24px;
  }

  .clientfeedbackslider {
    margin-left: 0;
  }

  .col-md-4.clientfeedbackleft {
    text-align: center;
  }

  .col-md-4.clientfeedbackleft figure img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .clienttrusted {
    padding-right: 0;
    margin-top: -10px;
  }

  .InnerPageTitle.mb-xxl-4.col-xl-3.col-2 {
    width: 100%;
  }

  .ThankyouModal h4 {
    font-size: 85px;
  }

  .ThankyouModal p {
    font-size: 20px;
  }

  .EventsBannercontent h3 {
    font-size: 32px;
  }

  .Pasteventsslider .owl-item.active.center .item {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
  }

  .Pasteventsslider .owl-item.active.center .item {
    height: 200px;
  }

  .Pasteventsslider .owl-carousel .owl-item .item .pasteventbox img {
    height: 200px;
  }

  .gotquestionsbg .row {
    flex-direction: column-reverse;
    text-align: center;
  }

  .gotquestionscontent {
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .gotquestions {
    margin-top: 0;
  }

  .zigzagtext h3 {
    font-size: 26px;
  }

  .whyparthnerlist figcaption h4 {
    font-size: 16px;
    min-height: 40px;
    line-height: 1.4;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  span.circleshape {
    display: none;
  }

  .SectionSpace {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .GetIntouchRight {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .ordersummarylist .price-text {
    font-size: 18px;
  }

  .Carrerbanner .row {
    flex-direction: column-reverse;
  }

  .Carrerbannerright img {
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }

  .wearecontent h3 {
    font-size: 34px;
  }

  .wearecontent p {
    font-size: 11px;
  }

  .ourvaluebox {
    padding: 20px 12px 20px 45px;
    margin: 10px 0;
  }

  .ourvalueinner .g-5,
  .ourvalueinner .gy-5 {
    --bs-gutter-y: 0;
  }

  .ourvaluebox {
    margin-top: 0 !important;
  }

  .ourvalueinner {
    padding-top: 30px;
  }

  .ourcluture .owl-carousel .owl-item img {
    height: 200px;
  }

  .Carrerbannerleft h3 {
    font-size: 26px;
    margin-bottom: 10px !important;
  }

  .Carrerbannerleft p {
    font-size: 14px;
    padding-right: 20px;
    margin-bottom: 20px !important;
  }

  .ant-modal.custom-modal .modalhead h3 {
    font-size: 28px;
  }

  .ant-modal.custom-modal .modalbody span {
    font-size: 16px;
  }

  .ant-modal.custom-modal .modalbody > p {
    font-size: 16px;
  }

  .ourvaluebox.mt-5 {
    margin-top: 0 !important;
  }

  .Carduserinfo .row {
    flex-direction: column;
    text-align: center;
  }

  .cardprofile {
    width: 165px;
    height: 165px;
    margin: auto;
    margin-bottom: 25px;
  }

  .pakageheadtitle span {
    font-size: 13px;
  }

  .pakageheadtitle h4 {
    font-size: 18px;
  }

  table.table {
    white-space: nowrap;
  }

  .imgcardcontent h4 {
    font-size: 24px;
  }

  .col-md-7.text-center.ps-4 {
    padding-left: 15px !important;
    margin-top: 30px;
  }

  .stayaheadbg span {
    font-size: 18px;
  }

  .stayaheadbg h4 {
    font-size: 22px;
  }

  span.bannerup img {
    width: 117px;
  }

  .FOLLOWUS.bannerfollow {
    bottom: 53px;
  }

  span.bannerup img {
    position: relative;
    top: -13px;
  }
}

@media (max-width: 575px) {
  body .owl-item .OurServicesContent figure img {
    height: auto;
  }
  .OurServicesRow .col-md-4 {
    width: 100%;
  }

  .OurServicesContent figcaption p {
    min-height: auto;
    height: auto;
  }

  .AboutInfo .col-md-5.text-left figure img {
    width: 300px;
  }

  .bannerSectionInner figure img {
    width: 222px;
    margin: auto;
    display: block;
    margin-bottom: 0;
    padding-left: 15px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    position: absolute;
    right: 0;
    width: 180px;
    bottom: 17px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-top: 10px;
    margin-bottom: 38px;
    padding-right: 60px !important;
    width: 100%;
  }

  .circletagShape {
    top: -33px;
  }

  .BestTag {
    margin-bottom: 13px;
    max-width: max-content;
    font-size: 13px;
    padding: 0 15px;
  }

  .bannerSection .BannerBtn a {
    height: 40px;
  }

  .bannerSection .BannerBtn a {
    font-size: 12px;
  }

  .col-xl.col-md-12.order-xl-2.order-3.menuRows {
    order: 2 !important;
  }

  .col-lg-2.col-sm-6.order-md-1.order-1.FooterContent .ps-3 {
    padding-left: 0 !important;
  }

  .col-md.col-sm-6.FooterContent {
    margin-bottom: 20px;
    width: 50%;
  }

  .header-btn {
    min-width: 120px;
    font-size: 12px;
    padding: 10px 7px;
    height: 33px;
  }

  button.navbar-toggler {
    width: 33px;
    height: 33px;
  }

  button.navbar-toggler span {
    width: 17px;
  }

  .AboutInfoLeft p {
    font-size: 14px;
  }

  .bannerSectionLeft h1 {
    margin-bottom: 10px;
  }

  .PageTitle h2 {
    font-size: 20px;
  }

  .formBox {
    background: linear-gradient(
      to bottom,
      rgb(237 237 237 / 64%) 0%,
      rgb(219 219 219) 100%
    );

    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  .formBox {
    padding: 30px 20px 35px;
  }

  .btn.max-width {
    min-width: 80%;
  }

  .RegisterPage .col-md-7.me-auto {
    width: 100%;
  }

  .innerbanner figure img {
    height: 280px;
  }

  .innerbannerContent h2 {
    font-size: 24px;
  }

  .col-xxl-auto.col-sm-auto.taginfoleft {
    width: auto;
  }

  .filtersBoxInner select.form-select {
    width: 25%;
    margin-left: auto;
  }

  .taginfolist li {
    height: 43px;
    padding: 18px 40px;
  }

  .sortbyright {
    margin-top: 20px;
  }

  .baheadtitle h3 {
    font-size: 26px;
  }

  .baheadtitle {
    margin-bottom: 0;
  }

  .OurTEAMhead h2 {
    font-size: 22px;
  }

  .OurTEAMhead span {
    font-size: 16px;
    margin-bottom: 8px !important;
    display: block;
  }

  button.owl-prev span {
    left: 0px;
    top: 45px;
  }

  .Browseservice {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }

  .servicedetaillisting figcaption h3 {
    font-size: 26px;
  }

  .btn-group-box .btn {
    width: 49%;
    height: auto;
    padding: 12px 0;
  }

  .PosterContent p {
    font-size: 16px;
  }

  .AboutBannerContent h3 {
    font-size: 26px;
  }

  ul.whoareList li figcaption h3 {
    font-size: 20px;
  }

  .OurVisionMissionTitle p {
    font-size: 14px;
  }

  .OurMVBGcontent {
    font-size: 26px;
  }

  .col-md-4.OurTeamsrowsL {
    width: 100%;
  }

  .col-md-8.OurTeamsrowsR {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }

  .messageCofounders .col-md-6 {
    margin-bottom: 15px;
  }

  .price span {
    font-size: 18px;
  }

  .product-list figcaption {
    padding: 20px 15px 30px;
  }

  .producttitle {
    font-size: 22px;
  }

  .OurBlogs .OurHealthBlogContent figure img {
    height: auto;
  }

  .BlogDeatils .innerbannerContent h2 {
    font-size: 24px;
  }

  .SmartKichinbox p {
    font-size: 16px;
  }

  ul.ourapproachlist li {
    width: 100%;
    flex: 0;
    margin: auto;
  }

  ul.ourapproachlist {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .ourapproachlist .content p {
    font-size: 16px;
  }

  .OurServices .owl-nav button.owl-prev {
    left: -24px;
  }

  .OurServices .owl-nav button.owl-next {
    right: -24px;
  }

  span.shapeImgRight,
  span.shapeImgLeft {
    display: none;
  }

  span.circleshape {
    display: none;
  }

  button.owl-next svg {
    width: 16px;
  }

  button.owl-prev svg {
    width: 16px;
  }

  .infobox.infoboxLeft {
    top: -6px;
  }

  .infobox h4 {
    font-size: 20px;
  }

  .infobox span {
    font-size: 14px;
  }

  .col-md-6.GetIntouchRight {
    margin-top: 0;
  }

  .row.GetIntouchRows {
    padding-bottom: 30px;
  }

  .ordersummarylist figcaption h4 {
    font-size: 16px;
  }

  .clientfeedbackslider .owl-carousel:after {
    display: none;
  }

  .clientfeedbackslider .owl-carousel.owl-theme {
    width: 75%;
  }

  .productslists .owl-carousel.owl-theme {
    width: 85%;
  }

  .ThankyouModal .btn-primary {
    margin-top: 20px !important;
  }

  .EventsBannercontent {
    max-width: 80%;
  }

  .EventsBannercontent h3 {
    font-size: 26px;
  }

  .events-btn {
    display: flex;
    width: 100%;
  }

  .upcomingevents .owl-carousel.owl-theme {
    width: 95%;
  }

  .upcomingevents .owl-stage-outer {
    padding: 0;
  }

  .upcomingevents .btn.max-btn {
    min-width: auto !important;
  }

  .events-btn a {
    width: 50%;
    min-width: auto !important;
    font-size: 11px;
    text-align: center;
  }

  .events-btn {
    margin-top: 10px !important;
  }

  .typeofevents .owl-carousel.owl-theme {
    width: 100%;
    margin: auto;
  }

  .gotquestionsbg {
    width: 100%;
    margin: auto;
  }

  .gotquestionsbg {
    padding: 20px 40px;
  }

  .medicalpartners .owl-carousel.owl-theme {
    width: 75%;
    margin: auto;
  }

  .whypartner .col-md-4.text-center {
    display: none;
  }

  .whypartner .col {
    order: 1;
    width: 100%;
    flex: auto;
    text-align: center;
  }

  ul.whyparthnerlist li {
    padding: 10px 0;
    flex-direction: column-reverse;
  }

  .whypartner {
    padding-top: 45px;
    padding-bottom: 0;
  }

  .getintouchinnerleft h4 {
    font-size: 24px;
  }

  .getintouchinnerleft p {
    font-size: 14px;
  }

  body .owl-carousel .owl-item .bannerSectionInner figure img {
    top: 0;
  }

  .filterOwl .owl-nav button.owl-prev span {
    left: -102px;
  }

  .filterOwl button.owl-next span {
    right: 20px;
    top: 47px !important;
  }

  .Trasnformboxbox h3 {
    font-size: 16px;
  }

  .Trasnformboxbox p {
    font-size: 13px;
    padding: 0 30px;
  }

  .Trasnformboxbox figure {
    margin-bottom: 14px !important;
  }

  .findYourfitinner h4 {
    font-size: 20px;
  }

  .findYourfitinner span {
    font-size: 16px;
  }

  .findYourfitinner p {
    font-size: 14px !important;
  }

  .cardcontent h3 {
    font-size: 26px;
  }

  .tabscardbox {
    flex-wrap: wrap;
  }

  ul.tabslist {
    margin-bottom: 10px;
  }

  ul.tabslist li {
    width: 48%;
  }

  .tabscardbox {
    justify-content: center !important;
  }

  .tabslist {
    justify-content: center;
  }

  .CardBbox {
    padding: 30px 30px;
  }

  .cardhead h3 {
    font-size: 18px;
  }

  .tabscardbox {
    justify-content: center !important;
  }

  .cardhead {
    flex-wrap: wrap;
  }

  .cardhead h3 {
    font-size: 16px;
  }

  button.update-meas-btn {
    margin-top: 10px;
  }

  .pakagebody span {
    font-size: 14px;
  }

  .tabscardbox {
    justify-content: center !important;
  }

  .imgcardcontent h4 {
    font-size: 24px;
  }

  .searcwithbtn {
    flex-wrap: wrap;
  }

  .btnserch {
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  }

  .btnserch .btn {
    width: 50%;
    font-size: 13px;
    margin-left: 0;
  }

  .SearchBox input {
    height: 40px;
    font-size: 14px;
  }

  .btnserch .btn {
    height: 40px;
  }

  .blogbanner .innerbannerContent {
    bottom: 12px;
  }

  .smartkitchein-banner .row.mt-3.align-items-end .col {
    width: 100%;
    flex: 0 0 100%;
  }

  .smartkitchein-banner .col-auto {
    display: none;
  }

  span.bannerup {
    margin-left: 2px;
    top: 29px;
  }

  .blogbannertitle {
    top: 75px;
  }

  .carticon {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .bannerSection .owl-carousel .owl-item {
    aspect-ratio: inherit;
  }

  .bannerSection .owl-theme .owl-dots {
    position: static;
    margin-top: 12px;
  }

  .BestTag {
    margin-top: 24px;
    background: #eee;
  }

  .circletagShapeBox {
    display: none;
  }

  .circletagShapeBox {
    right: 10%;
    top: 54px;
  }

  .slider-image {
    position: static;
  }

  .SmartKichinContent figure img {
    height: auto;
  }

  section.SmartKichin.SectionSpace {
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .owl-p ul li {
    font-size: 12px;
  }

  .bannerSectionLeft h1 {
    font-size: 16px;
  }

  .ClientListinfo {
    margin: 10px 0 !important;
  }

  .innerbannerContent p {
    flex-wrap: wrap;
  }
  select.form-select.w-25 {
    width: 100% !important;
    margin-top: 15px;
  }

  .innerbannerContent {
    position: static;
  }

  .innerbanner:after {
    background: rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: none;
  }
  .innerbanner figure {
    position: relative;
  }
  .innerbanner figure:after {
    background: rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
  }

  .innerbannerContent p {
    color: #000;
  }
  .innerbannerContent {
    padding: 0;
    padding-top: 20px;
  }

      .row.row-cols-5.SmartKichinlistrow figcaption h4 {
        height: auto;
    }
}

@media (max-width: 480px) {
  a.navbar-brand img {
    width: 100px;
  }

  .header-btn {
    min-width: 107px;
    font-size: 11px;
    padding: 10px 1px;
    height: 30px;
    margin-left: 5px;
  }

  span.shapeImgLeft img {
    width: 116px;
  }

  span.shapeImgRight img {
    width: 116px;
  }

  .circletagShape {
    top: -132px;
  }

  .circletagShape img {
    width: 45px;
  }

  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    position: absolute;
    right: -7px;
    width: 109px;
    bottom: 38px;
  }

  .AboutInfo .col-md-5.text-left figure img {
    width: 250;
    margin-left: 0;
  }

  .OurHealthBlogContent figure img {
    height: auto;
  }

  .ContactUs {
    width: 100%;

    left: 0px;
    top: 13px;
  }

  .form-checkList li {
    width: 100%;
  }

  .col-md.col-sm-6.FooterContent {
    margin-bottom: 20px;
    width: 100%;
  }

  .BottomFooter {
    flex-direction: column;
  }

  ul.BottomFooterList li:first-child {
    border-left: 0;
  }

  .ContactInfoList li {
    margin-bottom: 5px;
  }

  .innerbanner figure img {
    height: 255px;
  }

  .ToolsPageBox h4 {
    font-size: 20px;
  }

  ul.wightList li {
    padding: 0 5px;
  }

  .calculatebody {
    padding: 20px 20px;
  }

  .calculaField label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .calculaField.mb-3 {
    margin-bottom: 10px !important;
  }

  .calculateButton.text-center.mt-3 {
    margin-top: 0 !important;
  }

  .calculateHead {
    padding: 20px 20px;
  }

  .filtersBoxInner select.form-select {
    width: 40%;
    margin-left: auto;
  }

  .SearchBox input {
    height: 40px;
    font-size: 13px;
  }

  .apdinfo {
    flex-wrap: wrap;
  }

  .appoinmentsdetails {
    margin-top: 22px;
  }

  .apdinfo {
    margin-top: 15px;
  }

  .InnerpageSpace {
    padding-top: 70px;
  }

  .badetailleft figure img {
    height: 354px;
  }

  .OurTEAMhead h2 {
    font-size: 18px;
  }

  .btn.max-width {
    font-size: 16px;
  }

  .bookappoinmentl figure img {
    width: 97%;
    height: auto;
  }

  .btn-group-box .btn {
    width: 100%;
  }

  .JoinourhealthContent .btn.btn-primary {
    min-width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
  }

  .getintouchinner {
    padding: 25px 20px;
  }

  .getintouchinnerleft h4 {
    font-size: 22px;
  }

  .OurServices .col-md-4 {
    width: 100%;
  }

  .OurServicesContent figcaption h3 {
    min-height: auto;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-bottom: 25px;
  }

  .col-md-6.bannerSectionLeft.pe-0 {
    margin-bottom: 20px;
  }

  span.circleshape img {
    width: 85px;
  }

  .OurServices {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .AboutInfo {
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .whoareList {
    flex-wrap: wrap;
  }

  ul.whoareList li {
    width: 100%;
    padding-right: 0;
  }

  .BannerShape {
    display: none;
  }

  .FitnessJourneyContent h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .VisionMissioTitle {
    font-size: 14px;
  }

  .OurMVBGcontent {
    width: 65px;
  }

  .OurMVBGcontent {
    font-size: 22px;
  }

  .AboutBanner {
    padding-bottom: 25px;
    height: auto;
  }

  .OurTeamsrowsL figure img {
    width: 150px;
    height: 150px;
  }

  .OurTeamsrowsL figure:after {
    height: 105px;
  }

  .col-md-8.OurTeamsrowsR {
    margin-top: 15px;
  }

  .messageCofoundersTitle {
    margin-bottom: 20px;
  }

  .messageCofoundersTitle h2 {
    font-size: 22px;
  }

  .OurVisionMissionTitle {
    padding: 25px 10px 20px;
  }

  .Browseservice {
    width: 85%;
  }

  .allpakages button.owl-next span {
    right: -2px;
  }

  .allpakages button.owl-prev span {
    left: -2px;
  }

  .calculaField {
    flex-wrap: wrap;
  }

  .calculaField label {
    min-width: 100%;
    max-width: 100%;
  }

  .taginfo {
    left: 0;
    top: 56px;
  }

  .BlogDeatils figure img {
    height: 260px;
  }

  .BlogDeatils .innerbannerContent h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .heighlighttext {
    font-size: 24px;
    line-height: 1.2;
  }

  .contentbox h4 {
    font-size: 18px;
  }

  .contentbox p {
    font-size: 14px;
  }

  .heighlighttext {
    margin-bottom: 20px;
  }

  .JoinourhealthContent h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .Bytext span {
    font-size: 11px;
  }

  .heighlighttext {
    font-size: 22px;
  }

  .row.row-cols-5.SmartKichinlistrow .col {
    width: 100%;
  }

  .DiabetesHealthPakages .col-md-3 {
    width: 100%;
  }

  .col-md-4.Packagecontent {
    width: 100%;
  }

  body .owl-carousel .owl-item .bannerSectionInner figure img {
    width: 95% !important;
  }

  .OurServicesContent figcaption p {
    min-height: auto;
  }

  .OurServicesContent {
    height: auto;
  }

  .VideBox video {
    height: 300px;
  }

  .WhyChoose {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .SmartKichin {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .SmartKichinContent figcaption h3 {
    margin-bottom: 15px;
  }

  .OurHealthBlogContent figcaption h3 {
    font-size: 16px;
  }

  .ordersummarylist figcaption h4 {
    font-size: 14px;
  }

  .ordersummarylist .price-text {
    font-size: 18px;
  }

  .ordersummarylist figure img {
    width: 90px;
    height: 90px;
  }

  .Deleteicon img {
    width: 11px;
  }

  .addtobabody {
    padding: 30px 20px;
  }

  .discoutBox {
    flex-wrap: wrap;
  }

  .discoutBox input.form-control {
    margin-right: 0;
    flex: inherit;
    margin-bottom: 10px;
  }

  button.applybtn {
    font-size: 14px;
    height: 44px;
  }

  button.applybtn {
    width: 100%;
  }

  .CleintSuccess:after {
    width: 250px;
    height: 250px;
  }

  .clienttrusted {
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
  }

  .clientfeedback .InnerPageTitle {
    text-align: center;
  }

  .JoinNow {
    margin-top: 35px;
    padding: 0 20px;
  }

  .JoinNow h4 {
    font-size: 22px;
  }

  .col-md-4.clientfeedbackleft figure img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .WhyUsinner p {
    font-size: 14px;
  }

  .ThankyouModal h4 {
    font-size: 53px;
  }

  .ThankyouModal p {
    font-size: 16px;
  }

  .EventsBannercontent h3 {
    font-size: 21px;
  }

  .whyattentevent .col {
    width: 100% !important;
    flex: auto;
  }

  .whyattentevent .col {
    width: 100% !important;
    flex: auto;
    margin-bottom: 30px;
  }

  .EventsBannercontent {
    max-width: 90%;
  }

  .events-btn.mt-4 {
    margin-top: 20px !important;
  }

  .EventsBanner {
    height: 440px;
  }

  .EventsBannercontent p {
    font-size: 14px;
  }

  .gotquestionsbg {
    padding: 20px 20px;
  }

  .partnerssec {
    padding-bottom: 0;
  }

  .zigzagtext h3 {
    font-size: 21px;
  }

  .zigzagtext {
    padding: 14px 0;
  }

  .innerbanner figure img {
    height: 224px;
  }

  .partnerssecbox h3 {
    font-size: 14px;
  }

  .col-md-6.bannerSectionRight.ps-5.justify-content-end {
    display: none;
  }

  .ordersummarylist .Deleteicon {
    top: auto;
    bottom: 0;
  }

  .Trasnformbox .col-md-3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .wearehiringInner .row .col:first-child {
    display: none;
  }

  .wearehiringInner .col {
    width: 100%;
    text-align: center;
  }

  .wearehiringInner .row {
    flex-direction: column-reverse;
  }

  .wearecontent h3 {
    font-size: 48px;
  }

  .wearecontent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .findYourfitinner h4 {
    font-size: 18px;
    padding-right: 40px !important;
  }

  .findYourfitinner span {
    font-size: 14px;
  }

  .tabslist li a {
    padding: 12px 4px;
    font-size: 12px;
  }

  .Carduserinfo.pt-4.mb-4 {
    padding-top: 0 !important;
  }

  .cardprofile {
    width: 140px;
    height: 140px;
  }

  .cardprofile figure img {
    width: 100%;
    height: 100%;
  }

  .editprofile {
    right: 0;
  }

  .cardcontent h3 {
    font-size: 22px;
  }

  .cardcontent p {
    font-size: 16px;
  }

  .logoutbtn {
    font-size: 12px;
  }

  .CardBbox {
    padding: 25px 20px;
  }

  ul.BottomFooterList li a {
    font-size: 11px;
  }

  ul.BottomFooterList li:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  .tabscardbox {
    justify-content: center !important;
    align-items: center !important;
  }

  .tabslist li a {
    height: 100%;
  }

  .pakagehead .row {
    flex-direction: column;
  }

  .pakageheadtitle {
    margin-bottom: 10px;
  }

  .pakagebody .row {
    flex-direction: column;
  }

  .imgcardcontent h4 {
    font-size: 24px;
  }

  .innerSpace {
    padding-top: 60px;
  }

  .imgcard img {
    height: 280px;
  }

  .imgcardcontent h4 {
    font-size: 16px;
  }

  .imgsmcard img {
    height: 128px;
  }

  span.bannerup img {
    width: 82px;
    margin-left: auto;
    display: block;
  }

  .blogbannertitle {
    font-size: 12px;
  }

  section.SmartKichin {
    padding-bottom: 0;
  }

  .SmartKichinslider {
    padding-top: 0;
  }

  .paginationfooter {
    flex-wrap: wrap;
  }

  .FOLLOWUS {
    flex: initial;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  ul.FOLLOWUSlist {
    justify-content: center;
  }

  .btn.btn-primary.xm-btn {
    font-size: 14px;
  }

  .getintouchinner .getintouchinnerleft figure img {
    height: auto;
  }

  .product-list figure img {
    height: auto;
  }

  .product-list figcaption h3 {
    min-height: auto;
    display: flex;
  }

  .product-list .row.h-100 {
    height: auto !important;
  }

  .product-list figcaption {
    height: auto !important;
  }

  .product-list figure img {
    height: auto;
  }

  .bpheadleft p {
    font-size: 14px;
  }

  .bookappoinmentbody .justify-content-start {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    gap: 0 !important;
  }

  .bookappoinmentbody .justify-content-start a {
    width: 100%;
  }

  .bookappoinmentr {
    padding: 30px 40px 30px;
  }

  .bpheadleft h4 {
    font-size: 20px;
  }

  .innerbannerContent h2 {
    color: #000;
    margin-bottom: 10px;
  }

  .ToolsPageBox figure img {
    height: auto;
  }

  .InnerSpace {
    padding: 30px 0;
  }

  .calculatebody {
    width: 100%;
  }

  .calculatebody {
    width: 100%;
  }

  .calculateButton .btn.btn-primary {
    min-width: 100%;
    font-size: 14px;
  }

  .calculateButton {
    padding: 20px 20px;
    padding-top: 0;
  }

  .calculatebody ul.radioList li {
    margin-right: 20px;
  }

  .blogbanner .innerbannerContent {
    width: 90%;
    margin: auto;
    position: absolute;
  }

  .SmartKichinslider .slick-prev,
  .SmartKichinslider .slick-next {
    display: none !important;
  }

  .SmartKichinlistrow figure img {
    height: auto;
  }

  .contentlink {
    font-size: 14px;
  }

  .contentlinkmain a {
    font-size: 14px;
  }

  .PageTitle {
    padding-bottom: 0 !important;
  }

  .our-approachmain .PageTitle h2 {
    font-size: 20px;
  }

  ul.ourapproachlist li:after {
    border-bottom: 4px dashed #fff;
  }

  .ourapproachlist .content p {
    font-size: 14px;
  }

 .EventsBannercontent  .hvr-shutter-out-horizontal {
    text-align: center;
    margin: auto;
}

.SmartKichinlistrow figcaption p {
        height: auto;
    }
}