/*--------------------------------------------------------------------------------------*/
/*General-Css-Here
/*--------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin-bottom: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  color: #000;
  background: #fff !important;
}

a {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0 !important;
}

/* ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
  } */
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

footer,
header,
section {
  display: block;
}

footer:after,
footer:before,
header:after,
header:before,
section:after,
section:before {
  display: table;
  clear: both;
  content: "";
}

/* @media (min-width: 1730px) {
  .container {
    max-width: 1680px;
  }
} */

a:focus {
  border: 0;
  outline: 0;
}

button:focus {
  border: 0;
  outline: 0;
}

select {
  appearance: none;
}

p,
span {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

.space-similer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* a {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */

:root {
  --primary-color: #800030;
  --secondary-color: #04aa6d;
}

/*--------------------------------------------------------------------------------------*/
/*Common-Css-Here
/*--------------------------------------------------------------------------------------*/

.PageTitle p {
  font-size: 16px;
  color: #2a2a2a;
  margin-bottom: 0;
}

.PageTitle {
  margin-bottom: 45px;
}

.PageTitle h2 {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 47px;
  border-radius: 0;
  color: #fff !important;
  padding: 0 14px;
  border: 0;
  cursor: pointer;
}

body .btn.btn-primary {
  background: var(--secondary-color);
}

.bg-solid {
  background: #f6edf0;
}

.btn.max-btn {
  min-width: 235px;
}

.PageTitle span {
  color: #007946;
  text-transform: capitalize;
}

.SmartKichin .btn-info {
  position: absolute;
  right: 15px;
  top: 33px;
}

.PageTitle {
  position: relative;
}

.btn-info {
  background: #1976d2 !important;
}

.btn.s-btn {
  min-width: 100px;
}

input.form-control {
  height: 43px;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 60%);
}

label {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

textarea.form-control {
  background: #fff;
}

input.form-control:focus {
  background: #fff;
  border: 1px solid #e6e6e6;
}

/*--------------------------------------------------------------------------------------*/
/*Home-Css-Here
/*--------------------------------------------------------------------------------------*/
header {
  padding: 15px 0;
}

header .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #000000ba;
  padding: 0 15px !important;
}

.header-btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
  padding: 10px 10px;
  height: 40px;
  min-width: 160px;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  border: 0;
}

header .navbar-collapse .nav-link.active {
  color: var(--primary-color);
}

.GetIntouchRight {
  padding-bottom: 50px;
}

.bannerSection {
  background: #f5f5f5 url(../img/slider-bg.png);
  background-repeat: no-repeat;
  padding-top: 85px;
}

.Login-info {
  padding-left: 95px;
}

.BestTag {
  max-width: 210px;
  background: #fff;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 33px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #000;
}

.BestTag img {
  margin-right: 10px;
}

.bannerSectionLeft h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--primary-color);
  margin-bottom: 48px;
}

.bannerSection .BannerBtn a {
  font-size: 18px;
  color: #fff !important;
  display: flex;
  background: var(--secondary-color);
  padding: 10px 20px;
  font-weight: 800;
  height: 53px;
  align-items: center;
  margin-right: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

.bannerSection {
  position: relative;
}

.bannerSectionInner {
  margin-bottom: -10px;
}

.ClientInfo b {
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: 700;
}

.ClientInfo p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.ClientListinfo {
  margin-bottom: 45px;
}

.ClientListinfo li {
  border-right: 1px solid #00000080;
  padding-right: 30px;
  margin-right: 30px;
}

.ClientListinfo li:last-child {
  border-right: 0;
}

.circletagShapeBox {
  position: absolute;
  right: 70px;
  top: 165px;
}

.header-btn:hover {
  opacity: 0.8;
}

.carticon:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.carticon img {
  transition: 0.3s;
}

.shapeImgLeft {
  position: absolute;
  left: -78px;
  top: 20px;
}

.shapeImgRight {
  position: absolute;
  right: -78px;
  bottom: 20px;
}

body .heartBeatImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  max-width: 27px !important;
  margin: auto;
}

.bannerSection .owl-item,
.bannerSection .owl-stage-outer,
.bannerSection .owl-carousel {
  height: 100%;
}

.owl-nav button:hover,
.owl-nav button {
  background: transparent !important;
}

.bannerSection .owl-nav button.owl-next {
  right: 10px;
}

.bannerSection .owl-nav button.owl-prev {
  left: 10px;
}

.owl-nav button.owl-next {
  right: -25px;
}

.owl-nav button.owl-prev {
  left: -25px;
}

.bannerSection .owl-nav button {
  top: calc(50%);
}

.owl-nav button {
  position: absolute;
  top: calc(50% + -62px);
  transform: translateY(-50%);
}

.owl-p {
  font-size: 16px;
}

.owl-dots .owl-dot.active span {
  background: var(--primary-color) !important;
}

.AboutInfo h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 27px;
  color: var(--primary-color);
}

.AboutInfo h2 span {
  color: var(--secondary-color);
}

.AboutInfoLeft p {
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 400;
}

.AboutInfo {
  padding-top: 35px;
  padding-bottom: 65px;
}

.OurServices {
  padding-top: 60px;
  padding-bottom: 70px;
}

.OurServicesContent {
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  border-radius: 8px;
  overflow: hidden;
}

.OurServicesContent figcaption {
  padding: 15px 15px 19px;
  background: #fff;
}

.OurServicesContent figcaption h3 {
  font-size: 21px;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.OurServicesContent figure img {
  display: block;
  width: 100% !important;
  object-fit: cover;
  height: 203px;
}

.OurServicesContent figcaption p {
  font-size: 14px;
  color: #2a2a2a;
  line-height: 1.6;
  min-height: 89px;
  margin-bottom: 20px;

  display: -webkit-box;
  /* Creates a flexible box layout */
  -webkit-box-orient: vertical;
  /* Vertical orientation */
  -webkit-line-clamp: 4;
  /* Limit to 4 lines */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Show "..." at the end */
  /* Optional: fix word breaking */
  word-break: break-word;
}

.OurServicesRow .col-md-4 {
  margin-bottom: 80px;
  padding: 0 40px;
}

.OurServices .OurServicesRow {
  width: 96%;
  margin: auto;
}

.VideBox {
  object-fit: fill;
  background: rgb(0 0 0 / 12%);
}

.VideBox iframe {
  display: block;
  margin: auto;
}

.WhyChoose {
  padding-top: 60px;
  padding-bottom: 70px;
}

.WhyChoose {
  position: relative;
}

.WhyChoose:after {
  background: url(../img/whychoosePettern.png);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  height: 100%;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.SmartKichin {
  padding-top: 60px;
  padding-bottom: 70px;
}

.SmartKichinContent figcaption {
  width: 320px;
  margin: auto;
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  padding: 15px 15px 20px;
  margin-top: -55px;
  background: #fff;
  z-index: 9;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

.SmartKichinContent figcaption h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  height: 53px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.SmartKichinContent figcaption p {
  color: #000000e5;
  margin-bottom: 15px;
}

.SmartKichin .row .col-md-4 {
  padding: 0 25px;
}

.PosterSec {
  background: url(../img/posterSec.png);
  background-repeat: no-repeat;
  height: 361px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

.PosterContent {
  max-width: 840px;
  margin: auto;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0,
    rgba(255, 255, 255, 0.5) 100%
  );
  padding: 35px 25px;
}

.PosterContent h2 {
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.PosterContent p {
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 12px;
}

.PosterSec.empoweringhealth {
  background: url(../img/posterSec2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.OurHealthBlog {
  padding-top: 60px;
  padding-bottom: 70px;
}

.OurHealthBlogContent figure img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  display: block;
}

.OurHealthBlogContent figcaption {
  text-align: center;
  margin-top: 15px;
  padding: 0 20px;
}

.OurHealthBlogContent figcaption span {
  font-size: 14px;
  color: #800030;
  margin-bottom: 12px;
  display: block;
}

.OurHealthBlogContent figcaption h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.3;
}

.row.OurHealthBlogRows {
  width: 84%;
  margin: auto;
}

.col-md-6.OurHealthBlogContent {
  margin-bottom: 55px;
  padding: 0 40px;
}

.meetOurExperts {
  background: #f5f4f4;
  padding: 60px 0 70px;
}

.meetOurExperts figure img {
  margin: auto;
  display: block;
  width: 750px;
}

.infobox {
  background: #fff;
  display: inline-flex;
  text-align: center;
  border-radius: 14px;
  padding: 12px 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 220px;
}

.infobox h4 {
  font-size: 28px;
  color: #800030;
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 5px;
}

.infobox span {
  font-size: 15px;
  color: #2a2a2a;
  font-weight: 600;
}

.meetOurExpertscontentg {
  position: relative;
}

.infobox.infoboxLeft {
  position: absolute;
  top: 115px;
  left: 12px;
}

.infobox.infoboxLeftRight {
  position: absolute;
  right: 25px;
  top: 260px;
}

.trailoffer {
  position: relative;
}

.shape1 {
  position: absolute;
  top: -20px;
  left: -5px;
}

.shape2 {
  position: absolute;
  left: 240px;
  top: 285px;
  transform: rotate(-86deg);
}

.shape3 {
  position: absolute;
  bottom: 0;
  transform: rotate(85deg);
}

.shape4 {
  position: absolute;
  right: 0;
  transform: rotate(105deg);
  top: -80px;
}

.shape5 {
  position: absolute;
  right: 215px;
  top: 200px;
  transform: rotate(170deg);
}

.shape6 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.trailoffer {
  padding-top: 60px;
  padding-bottom: 55px;
}

.trailofferList li {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  margin-bottom: 24px;
  line-height: 1.8;
  position: relative;
  padding-left: 35px;
}

.trailofferList li:after {
  background: url("../img/checkTick.png");
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  width: 20px;
  height: 20px;
}

.trailofferform {
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  padding: 25px 25px;
  border-radius: 10px;
}

.trailofferform input.form-control {
  background: #f1f1f1 !important;
}

.trailofferform .contactInput span {
  background: #f1f1f1;
}

.trailofferform textarea.form-control {
  background: #f1f1f1;
}

.trailofferform label {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.contactInput {
  display: flex;
  border-radius: 5px;
  background: #f1f1f1;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.contactInput span {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(0 0 0 / 60%);
  pointer-events: none;
  border-right: 1px solid #e6e6e6;
  background: #fff;
  overflow: hidden;
}

.contactInput input.form-control {
  border: 0;
  background: #fff;
  padding-left: 12px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control:focus {
  background: #fff;
}

textarea.form-control {
  height: 106px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: rgb(0 0 0 / 60%);
  border-radius: 5px;

  resize: none;
}

.GetIntouch {
  position: relative;
}

.GetIntouchRight {
  padding-top: 30px;
  padding-left: 30px;
}

.GetIntouch .PageTitle {
  margin-bottom: 30px;
}

.col-md-6.GetIntouchRight {
  position: relative;
  top: 25px;
}

.form-checkList {
  flex-wrap: wrap;
}

.form-checkList li {
  margin-right: 10px;
  width: 31%;
  margin-bottom: 13px;
}

.ContactUs {
  background: linear-gradient(
    to bottom,
    rgba(167, 167, 167, 1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  padding: 20px 20px;
  position: absolute;
  width: 290px;
  margin: auto;
  left: 40px;
  top: 85px;
  border-radius: 8px;
}

.ContactUs h3 {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ContactUs p {
  font-size: 12px;
  color: #2a2a2a;
  font-weight: 600;
}

.ContactInfoList {
  margin-top: 20px;
}

.ContactInfoList li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ContactInfoList span {
  font-size: 14px;
  color: #2a2a2a;
}

.ContactInfoList img {
  margin-right: 12px;
}

.ContactInfoList a {
  font-size: 12px;
  color: #2a2a2a;
  font-weight: 600;
}

.SoicalList {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.SoicalList li {
  margin-right: 20px;
}

footer {
  background: #f6edf0;
  padding-top: 45px;
}

.FooterContent h3 {
  font-size: 18px;
  color: #800030;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid;
  display: inline-block;
  margin-bottom: 10px;
}

.FooterContent figure {
  margin-bottom: 15px;
}

.FooterContentInfo h4 {
  font-size: 13px;
  color: #800030;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.FooterContentInfo p {
  font-size: 10px;
  color: #000000e5;
}

.userlinks li a {
  font-size: 12px;
  color: rgb(0 0 0 / 90%) !important;
  margin-bottom: 8px;
  display: block;
  font-weight: 400;
}

.ContactInfoFooter li a {
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
}

.ContactInfoFooter li {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.ContactInfoFooter li img {
  filter: brightness(0) saturate(100%) invert(40%) sepia(94%) saturate(551%)
    hue-rotate(112deg) brightness(102%) contrast(97%);
}

.FooterSubscribe h2 {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 10px;
}

.BottomFooter {
  background: #1e1e1e;
  padding: 10px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;

  margin-top: 65px;
}

.GetIntouchLeft figure img {
  display: block;
}

textarea.form-control:focus {
  background: rgb(255, 255, 255);
  border: 1px solid #e6e6e6;
}

.GetIntouch {
  position: relative;
}

.GetIntouchShape1 {
  position: absolute;
  left: 0;
  top: 45px;
}

.GetIntouchShape2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

header .navbar-nav .nav-link:hover {
  color: #800030;
}

header .navbar-nav .nav-link.active {
  font-weight: 700;
}

header .navbar-nav .nav-link {
  position: relative;
}

header .navbar-nav .nav-link.active:after {
  content: "";
  background: #800030;
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.form-check-input {
  width: 17px;
  height: 17px;
  border-radius: 4px;
}

.bannerSection {
  position: relative;
}

.bannerSectionInner figure {
  position: relative;
}

.bannerSectionInner figure:after {
  width: 470px;
  height: 470px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,ffffff+100 */
  background: linear-gradient(
    to bottom,
    rgba(239, 239, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0px;
  z-index: 9;
  bottom: 85px;
}

.bannerSectionInner figure img {
  z-index: 99;
  position: relative;
}

header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  transition: 0.3s;
  box-shadow: 0 4px 4px hsl(0deg 0% 0% / 7.84%);
}

.trailofferList li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.carticon {
  cursor: pointer;
}

.carticon:hover {
  transform: scale(0.98);
}

.BottomFooterList li {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid;
}

/**login****/

.LoginPage {
  background: url("../img/loginBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: auto;
  padding-top: 50px;
  background-position: 100% 15%;
}

.RegisterPage .col-md-7.me-auto,
.col-md-4.me-auto {
  margin: 20px 0;
}

.formBox {
  background: linear-gradient(
    to bottom,
    rgb(237 237 237 / 64%) 0%,
    rgb(219 219 219 / 58%) 100%
  );
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  border-radius: 8px;
  padding: 30px 45px 35px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.formBoxHead h3 {
  font-size: 24px;
  color: #800030;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.formBoxHead {
  margin-bottom: 30px;
}

.fieldbox label {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 600;
}

.withIcon {
  position: relative;
}

.EyeIcon {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.TextLink {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 600;
}

.DotHave {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.or-text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-transform: uppercase;
  color: #2a2a2a;
}

.SocialUsers a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background: #fff;
  height: 48px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.SocialUsers a:hover {
  opacity: 0.6;
}

.SocialUsers a img {
  margin-right: 10px;
}

.SocialUsers a:last-child {
  margin-bottom: 0;
}

.SocialUsers {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.formBox input.form-control {
  font-size: 12px;
}

.btn.max-width {
  min-width: 353px;
  margin: auto;
  font-size: 18px;
}

.RegisterPage .SocialUsers {
  gap: 10px;
}

.RegisterPage .SocialUsers a {
  width: 50%;
}

.RegisterPage .termscheck {
  margin-bottom: 35px;
}

.RegisterPage .form-check-input {
  margin-top: -1px;
  margin-right: 8px;
  width: 23px;
  height: 23px;
  border: 1px solid hsl(0deg 0% 0% / 60%);
  border-radius: 5px !important;
}

.RegisterPage .form-check-label {
  font-size: 14px;
  color: #2a2a2a;
  margin-bottom: 0;
}

.RegisterPage .form-check-label a {
  color: #2795d9;
  cursor: pointer;
}

ul.BottomFooterList,
.BottomFooter p {
  margin-bottom: 0;
}

/**tools*/

.innerbanner {
  position: relative;
}

.innerbannerContent {
  position: absolute;
  bottom: 55px;
  z-index: 9;
}

.innerbanner:after {
  background: rgb(0 0 0 / 50%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
}

.innerbannerContent h2 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.innerbannerContent p {
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 0;
}

.innerbanner figure {
  margin-bottom: 0;
}

.InnerSpace {
  padding: 45px 0;
}

.InnerPageTitle {
  margin-bottom: 40px;
}

.InnerPageTitle h4 {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.InnerPageTitle p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.bmiCalculatorBg {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  margin-top: 30px;
  padding-bottom: 40px;
}

.calculateHead h4 {
  font-size: 18px;
  margin-bottom: 0;
  color: #1e1e1e;
}

.calculateHead {
  padding: 28px 20px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
}

.calculaField {
  display: flex;
  align-items: center;
}

.calculainSelect {
  display: flex;
}

.calculaField label {
  margin-bottom: 0;
}

.calculainSelect {
  flex: 1;

  display: flex;
  position: relative;
}

.calculaField {
  display: flex;
  align-items: center;
}

.calculainSelect .form-select {
  color: #fff !important;
  width: 75px;
  background-color: #800030;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 400;
  background-image: url(../img/arrow-drop.png);
  background-size: 16px;
  background-position: right 10px center;
}

.calculainSelect input.form-control {
  font-size: 20px;
  height: 61px;
}

.calculaField label {
  margin-bottom: 0;
  font-size: 24px;
  color: #1e1e1e;
  font-weight: 600;
  min-width: 110px;
  max-width: 110px;
}

.calulaterResult {
  box-shadow: 0 8px 8px rgb(0 0 0 / 15%);
  background: #f5f5f5;
  border-radius: 20px;
}

ul.wightList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.calulaterResultHead h3 {
  font-size: 28px;
  color: #800030;
  font-weight: 700;
  margin-bottom: 0;
}

.calulaterResultHead {
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  padding: 20px 20px;
  margin-bottom: 15px;
}

ul.wightList li {
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

ul.wightList h4 {
  font-size: 24px;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
  padding-left: 11px;
  padding: 12px 0;
  font-size: 22px;
}

ul.wightList figure {
  margin-bottom: 0;
}

.btn.sm-btn {
  min-width: 304px;
}

.yourBmi {
  font-size: 28px;
  color: #000;
  font-weight: 500;
  padding: 14px 20px;
  border-top: 1px solid rgb(0 0 0 / 15%);
}

.yourBmi span {
  color: var(--primary-color);
  font-weight: 600;
}

.yourBmi span b {
  color: var(--secondary-color);
  font-weight: 600;
}

.calculatebody {
  padding: 30px 30px 3px 30px;
  width: 80%;
}

.innerbanner figure img {
  height: 490px;
  object-fit: cover;
  width: 100%;
}

.calculatebody .btn.btn-primary {
  font-size: 18px;
  height: 53px;
}

/**/

.FieldIn {
  flex: 1;
}

.FieldIn input.form-control,
.FieldIn select.form-select {
  height: 61px;
  font-size: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 5px;
}

.radioList [type="radio"]:checked,
.radioList [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radioList [type="radio"]:checked + label,
.radioList [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 41px;
  cursor: pointer;
  line-height: 28px;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
}

.radioList [type="radio"]:checked + label:before,
.radioList [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.radioList [type="radio"]:checked + label:after,
.radioList [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 13px;
  height: 13px;
  background: #800030;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  right: 0;
}

.radioList [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radioList [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radioList [type="radio"]:checked + label:before {
  border: 1px solid #800030;
}

ul.radioList li {
  margin-right: 50px;
}

ul.radioList {
  margin-bottom: 0;
}

.calulaterResult.calulaterDiet {
  padding: 30px 40px;
}

.calulaterResult.calulaterDiet h4 {
  font-size: 30px;
  color: #800030;
  font-weight: 700;
  text-transform: uppercase;
}

.ResultBox-left p {
  margin-bottom: 0;
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 600;
}

body .dash-class {
  font-size: 60px;
  color: #007946;
  font-weight: 700;
  line-height: 0.2;
}

body .ResultBoxinner-left .dash-class {
  font-size: 60px;
  color: #007946;
  font-weight: 700;
}

.day-text {
  display: flex;
  font-size: 60px;
  color: #007946;
  font-weight: 700;
}

span.day-text sub {
  font-size: 24px;
  color: #00000099;
  font-weight: 400;
  line-height: 96px;
  padding-left: 3px;
}

.ResultBox-left {
  padding-right: 40px;
  line-height: 1.4;
  flex: 1;
}

.ResultBox-right {
  width: 196px;
}

.ResultBox {
  display: flex;
  align-items: center;
}

span.text-primary {
  color: #800030 !important;
}

.Diet3 {
  position: absolute;
  right: 0;
  bottom: -8px;
  margin-bottom: 0;
}

.ResultBoxinner-left p {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 0;
}

.optinallyList li {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 600;
}

ul.optinallyList {
  padding: 20px 0 60px;
  padding-right: 138px;
}

.smallNote {
  font-size: 14px !important;
  color: #1e1e1e;
  font-weight: 300 !important;
  font-style: italic;
  padding-right: 212px;
  text-transform: capitalize;
}

.taginfo {
  position: absolute;
  right: -122px;
  top: 17px;
  font-style: italic;
  font-size: 14px;
}

.calculateButton .btn.btn-primary {
  font-size: 18px;
  font-weight: 600;
  min-width: 425px;
  height: 53px;
}

.sectionSpace {
  padding-top: 45px;
  padding-bottom: 50px;
}

.InnerpageHead h3 {
  font-size: 30px;
  color: #800030;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.InnerpageHead p {
  font-size: 16px;
  color: rgb(0 0 0 / 90%);
  font-weight: 6;
}

.InnerpageHead {
  margin-bottom: 50px;
}

.ToolsPageBox {
  box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding: 25px 95px;
  margin-bottom: 30px;
  background: #f5f5f5;
}

.ToolsPageBox h4 {
  font-size: 30px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.ToolsPageBox:nth-child(odd) .row .col-md-8 {
  padding-left: 125px !important;
}

.ToolsPageBox:last-child {
  margin-bottom: 0;
}

.ToolsPageBox p {
  font-size: 14px;
  font-weight: 400;
  color: #1e1e1e;
  line-height: 1.8;
}

.ToolsPageBox figure {
  margin-bottom: 0;
}

.ToolsPageBox figure img {
  width: 372px;
  height: 209px;
  border-radius: 10px;
  object-fit: cover;
}

.ToolsPageBox .col-md-4 {
  padding: 0;
}

.ToolsPageBox:nth-child(odd) .row {
  flex-direction: row-reverse;
}

.ToolsPageBox .row {
  align-items: center;
}

.GetIntouchLeft {
  display: flex;
  align-items: flex-end;
}

.ContactInfoFooter li a {
  color: #000;
}

.circleshape {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

span.circleshape2 {
  position: absolute;
  right: 91px;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
}

.userlinks li a:hover,
.ContactInfoFooter li a:hover {
  color: #800030 !important;
  cursor: pointer;
}

ul.BottomFooterList li a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.RegisterPage .SocialUsers {
  align-items: center;
  flex-direction: row;
}

.bannerSectionRight .owl-carousel .owl-item img {
  width: auto;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

body .owl-item .OurServicesContent figure img {
  height: 210px;
  width: 100% !important;
  background: #fff;
}

.bannerSection {
  overflow: hidden;
}

.DotHave {
  color: #000;
}

.GoogleUser div {
  height: auto;
  border: 0;
  display: flex;
  color: #000;
  font-weight: 700;
}

.GoogleUser div span {
  font-weight: 700 !important;
}

.wightList figure img {
  height: 305px;
}

.bmiCalculator input.form-control,
.bmiCalculator select.form-select {
  font-size: 16px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

.bmiCalculator select.form-select {
  background-size: 17px;
}

.calculainSelect select.form-select {
  background-size: 17px;
  position: absolute;
  right: 0;
  width: 67px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.AboutBanner.innerSpace {
  padding-top: 78px;
}

.AboutBanner {
  background: url(../img/AboutBannerbg.png);
  background-size: 100%;
  background-position: 100% 65px;
  height: 545px;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
}

.AboutBannerContent span {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
}

.AboutBannerContent h3 {
  font-size: 40px;
  color: #800030;
  font-weight: 700;
}

.whoareList li {
  width: 40%;
  padding-right: 100px;
  display: flex;
}

.whoareList {
  display: flex;
  margin-bottom: 0;
}

.whoareList li figure img {
  width: 30px;
}

ul.whoareList li figure {
  width: 30px;
  margin-right: 13px;
  margin-top: 4px;
}

ul.whoareList li {
  width: 40%;
  padding-right: 100px;
  display: flex;
}

ul.whoareList li figcaption h3 {
  font-size: 24px;
  color: #007946;
  font-weight: 700;
  margin-bottom: 10px;
}

ul.whoareList li figcaption p {
  font-size: 14px;
  font-weight: 400;
  color: #000000e5;
}

.AboutBannerContent {
  margin-bottom: 35px;
}

ul.whoareList figcaption {
  flex: 1;
}

.BannerShape {
  position: absolute;
  left: -55px;
  top: 95px;
}

.FitnessJourney {
  padding: 40px 0 40px;
}

.FitnessJourneyInner {
  position: relative;
}

.FitnessJourneyContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 58%;
  text-align: center;
}

.FitnessJourneyInner .btn-primary {
  min-width: 313px;
}

.FitnessJourneyContent h4 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.JoinSubTitle {
  font-size: 31px;
  color: #ffffff;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 55px;
}

.FitnessJourneyInner .link-text {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
}

.OurVisionMission:after {
  background: #f6edf0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 45%;
  z-index: -1;
  height: 475px;
}

.OurVisionMission {
  position: relative;
}

.OurVisionMissionTitle {
  padding: 25px 20px 20px;
  text-align: center;
  width: 85%;
}

.OurVisionMissionTitle h3 {
  font-size: 24px;
  color: #800030;
  font-weight: 700;
}

.OurVisionMissionTitle p {
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 400;
  margin-bottom: 0;
}

.OurMVBox {
  position: relative;
}

.OurMVBox figure img {
  width: 100%;
  height: 342px;
  object-fit: cover;
}

.OurMVBGcontent {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #800030;
  width: 84px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 800;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.VisionMissionList {
  margin-bottom: 0;
  padding-top: 130px;
}

.VisionMissionList li {
  display: flex;
}

ul.VisionMissionList li {
  font-size: 16px;
  color: #000000e5;
  margin-bottom: 15px;
  padding-left: 5px;
}

.VisionMissioTitle {
  position: relative;
}

.VisionMissioTitle:after {
  background: #000;
  position: absolute;
  left: 0px;
  top: 8px;
  content: "";
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.VisionMissioTitle {
  padding-left: 20px;
  margin-left: 20px;
}

ul.VisionMissionList li figure img {
  width: 28px;
}

.OurVisionMissionOdd::after {
  left: auto;
  right: 0px;
}

.OurVisionMission.OurVisionMissionOdd .row {
  flex-direction: row-reverse;
}

.OurVisionMission.OurVisionMissionOdd .OurMVBGcontent {
  left: 0;
  right: auto;
}

.OurVisionMissionOdd .OurVisionMissionTitle {
  margin-left: auto;
}

ul.VisionMissionList li figure {
  width: 28px;
}

.VisionMissioTitle {
  flex: 1;
}

section.OurTEAM {
  padding-top: 100px;
}

.OurTEAMhead {
  background: #f5f5f5;
  padding: 25px 20px 25px;
  margin-bottom: 30px;
}

.OurTEAMhead span {
  font-size: 20px;
  color: #00000099;
  text-transform: uppercase;
  font-weight: 600;
}

.OurTEAMhead h2 {
  font-size: 40px;
  color: #800030;
  font-weight: 700;
  text-transform: uppercase;
}

.OurTEAMhead p {
  font-size: 16px;
  color: #000000e5;
  font-weight: 400;
  margin-bottom: 0;
}

.OurTeamsrowsL figure:after {
  background: linear-gradient(
    to right,
    rgba(0, 121, 70, 0.49) 0%,
    rgba(226, 226, 226, 0.17) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 220px;
  margin: auto;
  z-index: -1;
}

.OurTeamsrowsL {
  text-align: center;
}

.OurTeamsrowsL figure {
  position: relative;
}

.row.OurTeamsrows {
  align-items: center;
}

.OurTeamsrowsR h4 {
  font-size: 28px;
  color: #007946;
  font-weight: 700;
  margin-bottom: 5px;
}

.OurTeamsrowsR span {
  font-size: 20px;
  color: rgb(0 0 0 / 60%);
  font-style: italic;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.OurTeamsrowsR p {
  font-size: 16px;
  font-weight: 400;
  color: #000000e5;
}

.OurTeamsrowsL figure img {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.OurTeamsrowsL {
  padding-right: 0;
}

.OurTeamsrowsR {
  padding-left: 30px;
}

.row.OurTeamsrows {
  padding-bottom: 10px;
}

.OurTeamsrows:nth-child(even) {
  flex-direction: row-reverse;
}

.OurTeamsrows:nth-child(even) figure:after {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,007946+99&0.17+0,0.49+100 */
  background: linear-gradient(
    to right,
    rgba(226, 226, 226, 0.17) 0%,
    rgba(0, 121, 70, 0.49) 99%,
    rgba(0, 121, 70, 0.49) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.MoreProfessional {
  background: #f5f5f5;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.MoreProfessional p {
  margin-bottom: 0;
}

.messageCofoundersBg {
  text-align: center;
  background: #f5f5f5;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  padding: 25px 25px;
  border-radius: 10px;
}

.messageCofoundersTitle h2 {
  font-size: 40px;
  color: #800030;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.messageCofoundersTitle {
  margin-bottom: 70px;
}

.messageCofounders {
  padding: 40px 0px 70px;
}

.messageCofoundersBg figure img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.messageCofoundersBg figure {
  margin-bottom: 20px !important;
}

.messageCofoundersBg figcaption h4 {
  font-size: 21px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 15px;
}

.messageCofoundersBg figcaption p {
  font-size: 18px;
  color: #800030;
  font-weight: 600;
}

.messageCofoundersBg figcaption {
  padding: 0 60px;
}

button.SearchBtn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
}

.SearchBox input {
  height: 58px;
  border-radius: 10px;
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 55px;
}

button.SearchBtn {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  border: 0;
  background: transparent;
}

.blogbanner .innerbannerContent {
  bottom: 30px;
}

.SearchBox {
  width: 827px;
  position: relative;
  margin-top: 20px;
}
.searcwithbtn .SearchBox {
  margin-top: 0;
}
.searcwithbtn {
  margin-top: 20px;
}
.Bytext span:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}

.Bytext span {
  color: #2a2a2aa6 !important;
  font-size: 14px;
  font-weight: 400;

  font-style: italic;
  position: relative;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.Bytext span:after {
  position: absolute;
  left: -40px;
  top: 10px;
  content: "";
  width: 32px;
  border-bottom: 1px solid #747474;
}

.Bytext span::before {
  position: absolute;
  right: -40px;
  top: 10px;
  content: "";
  width: 32px;
  border-bottom: 1px solid #747474;
}

.col-md-6.OurHealthBlogContent p {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.5;
}

.OurHealthBlogContent p a {
  color: #007946 !important;
  font-weight: 700;
}

.Bytext {
  padding: 15px 0;
}

.OurBlogsTag {
  position: absolute;
  right: 0;
  top: 0;
}

.OurHealthBlogContent figure {
  position: relative;
}

.OurBlogsTag {
  border-radius: 28px;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 34px;
  background: #2a2a2a3d;
  width: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.OurBlogs .OurHealthBlogContent figcaption {
  padding: 0 35px;
}

.taginfolist li {
  background: #4caf502e;
  padding: 18px 40px;
  height: 46px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 22px;
  font-size: 16px;
  color: #007946;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.filtersBoxInner select.form-select {
  width: 132px;
  border: 1px solid #800030;
  height: 46px;
  border-radius: 5px;
  color: #800030;
  font-weight: 600;
  background-color: #f6edf0;
  font-size: 18px;
}

.col-xxl-auto.col-sm-auto.taginfoleft {
  padding-right: 0;
}

.filtersBoxInner {
  justify-content: space-between;
}

.OurBlogs .OurHealthBlogContent {
  padding: 0 30px;
}

.taginfolist {
  margin-bottom: 0;
}

.filtersBox {
  padding: 32px 0 55px;
}

.taginfolist li.active {
  background: #007946;
  color: #fff;
}

.OurBlogs .OurHealthBlogContent figure img {
  height: 481px;
}

ul.pagination {
  margin-bottom: 35px;
  margin-top: 30px;
}

.page-link {
  border: 0;
  font-size: 20px;
  color: rgb(0 0 0 / 40%);
  font-weight: 400;
}

.pagination li.active .page-link {
  background: transparent;
  color: #800030;
  font-weight: 600;
}

.pagination .page-link {
  border: 0;
  font-size: 20px;
  font-weight: 400;
  margin: 0 5px;
}

.OurHealthBlogContent a {
  cursor: pointer;
}

button.owl-prev span {
  color: transparent;
  background: url(../img//owlleft.png);
  width: 14px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 45px;
}

button.owl-next span {
  color: transparent;
  background: url(../img//owlright.png);
  width: 14px;
  height: 23px;
  position: absolute;
  right: 0;
  top: 45px;
}

.contentbox h4 {
  font-size: 24px;
  color: #800030;
  font-weight: 700;
  margin-bottom: 10px;
}

.contentbox p {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 400;
}

.contentbox {
  margin-bottom: 46px;
}

.heighlighttext {
  font-size: 38px;
  color: #1e1e1e59;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 45px;
}

.Joinourhealth {
  background: url(../img/JoinHealthBg.png);
  height: 562px;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.JoinourhealthContent {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  padding: 0 13px;
}

.JoinourhealthContent h3 {
  font-size: 60px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.4;
}

.JoinourhealthContent p {
  font-size: 17px;
  color: #ffffff;
  font-weight: 600;
}

.JoinourhealthContent .btn.btn-primary {
  min-width: 416px;
  height: 70px;
  font-size: 22px;
  margin-top: 25px;
}

.BlogDeatils {
  position: relative;
}
section.BlogDeatils:after {
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 100% / 0%) 0%,
    rgba(29, 29, 29, 0.8) 98%,
    rgba(29, 29, 29, 0.81) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 109px;
  width: 100%;
}

.BlogDeatils .innerbannerContent {
  bottom: 4px;

  left: 0;
  right: 0;
}

.BlogDeatils .innerbannerContent h2 {
  text-align: center;
  font-size: 40px;
}

.InnerpageSpace {
  padding-top: 130px;
  padding-bottom: 40px;
}

.contactinfobox {
  box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
  padding: 25px 20px;
  text-align: center;
  height: 100%;
  background: #fff;
}

.contactinfobox figure {
  width: 68px;
  height: 68px;
  margin: auto;
  background: #0079461c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 15px !important;
}

.contactinfobox figcaption h5 {
  font-size: 14px;
  color: #007946;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contactinfobox a {
  font-size: 18px;
  color: #007946;
  font-weight: 700;
}

ul.userslink li a {
  margin: 0 8px;
}

.getintouchinner {
  box-shadow: 0 4px 17px rgb(0 0 0 / 10%);
  padding: 25px 40px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.row.GetIntouchinnerright {
  border-left: 1px solid rgb(0 0 0 / 19%);
  padding-left: 20px;
}

.getintouchinnerleft h4 {
  font-size: 32px;
  color: #800030;
  text-transform: uppercase;
  font-weight: 700;
}

.getintouchinnerleft p {
  font-size: 17px;
  color: rgb(0 0 0 / 90%);
  font-weight: 400;
}

.getintouchinnerleft figure {
  margin-top: 20px !important;
}

.GetIntouchinnerright .form-checkList li {
  width: auto;
  margin-right: 16px;
}

.GetIntouchinnerright .form-checkList {
  margin-bottom: 0;
}

.greyin {
  background: #f1f1f1 !important;
}
.userslink {
  margin-bottom: 0;
}

.InnerpageSpace.bgpettern::before {
  background: url(../img/Contactusbg.png);
  content: "";

  width: 100%;
  height: 355px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.userslink li a:hover {
  cursor: pointer;
}

.textlink a:hover {
  text-decoration: underline;
}

.servicedetail p {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 400;
}

.servicedetaillisting figcaption h3 {
  font-size: 38px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.servicedetaillisting figcaption p {
  font-size: 16px;
  color: #2a2a2a;
  min-height: 122px;
}

.btn-group-box {
  text-align: center;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.btn-group-box .btn {
  width: 49%;
}

.btn-group-box .btn {
  width: 49%;
}

.servicedetaillisting figcaption {
  background: url(../img/servicepetternImg.png);
  padding: 20px 18px 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-group-box .btn {
  font-size: 18px;
}

.row.servicedetaillisting {
  margin-top: 50px;
}

.row.servicedetaillisting .col-md-6 {
  margin-bottom: 30px;
}

.servicelist p {
  margin-bottom: 0;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 600;
}
.servicelist {
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
  background: #f6edf094;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 2px;
  margin-right: 10px;
  border-radius: 10px;
}

.servicelist figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px !important;
}

.producttitle {
  font-size: 27px;
  color: #007946;
  font-weight: 700;
  margin-bottom: 40px;
}

.product-list {
  background: #d9d9d933;
  border-radius: 10px;
  overflow: hidden;
}

body .owl-carousel .owl-item .product-list figure img {
  height: 419px;
  width: 100% !important;
  object-fit: cover;
}

.product-list figcaption {
  padding: 20px 30px 30px;
}

.product-list figcaption h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
}

.price span {
  font-size: 27px;
  color: #000000;
  font-weight: 700;
}

.price del {
  font-size: 17px;
  font-weight: 400;
  color: #ad0000;
  margin-right: 10px;
}

.btn.sm-btn {
  min-width: 200px;
}

.Browseservice {
  margin-bottom: 45px;
}

.btnserch .btn {
  height: 58px;
  background: #ffffff;
  color: #000 !important;
  margin-left: 10px;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 20px;
}

.btn.VegBtn {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.14) 95%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.SmartKichinlist .col {
  margin-bottom: 30px;
}

.row.row-cols-5.SmartKichinlistrow figcaption h4 {
  font-size: 20px;
  font-weight: 700;
  height: 47px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SmartKichinlistrow figcaption {
  text-align: center;
  padding: 15px 10px;
}

.SmartKichinlistrow figcaption p {
  height: 60px;
}

.SmartKichinbox {
  text-align: center;
}

.SmartKichinbox p {
  font-size: 18px;
  color: #800030;
  font-weight: 600;
  margin-bottom: 0;
}

.SmartKichinbox figure img {
  width: 100% !important;
  height: 119px;
  border-radius: 50%;
  object-fit: cover;
}

.SmartKichinbox figure {
  width: 119px;
  height: 119px;
  margin: auto;
}

.btn.btn-primary.xm-btn {
  min-width: 160px;
  font-size: 18px;
}

.btn.Nonvegbtn {
  background: #fff !important;
}

.daishape {
  position: absolute;
  top: 140px;
  left: 0;
}

.Diabetespageleft figure img {
  width: 600px;
  height: 672px;
  object-fit: cover;
  border-radius: 10px;
}

.Diabetespageright h3 {
  font-size: 38px;
  color: rgb(128, 0, 48);
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Diabetespageright p {
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  color: #2a2a2a;
}
.Diabetespageleft figure {
  position: relative;
}
.Diabetespageleft figure:after {
  width: 72px;
  height: 72px;
  background: #800030;
  position: absolute;
  border-radius: 50%;
  content: "";
  left: 0;
  bottom: 100px;
}

.pn-title {
  font-size: 45px;
  color: #007946;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
}

.Packagecontent figcaption h4 {
  font-size: 24px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.Packagecontent figcaption p {
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 400;
}

.Packagecontent figcaption {
  padding-top: 20px;
}

.PackageINclusion {
  background: url(../img/daibetespettern.png);
  background-size: cover;
}

.Packagecontent figure img {
  height: 311px;
  width: 100%;
  object-fit: cover;
}

.DiabetesHealthcontent figcaption {
  box-shadow: 0 4px 9px rgb(0 0 0 / 25%);
  border: 1px solid rgb(0 0 0 / 23%);
  padding: 12px 10px 25px;
}

.DiabetesHealthcontent figcaption h3 {
  font-size: 22px;
  color: #1e1e1e;
  font-weight: 700;
  text-align: center;
  margin-bottom: 22px;
}

.DiabetesHealthcontent figcaption span {
  font-size: 16px;
  color: #800030;
  font-weight: 700;
  text-align: center;
  display: block;
}

.Packagedescriptionlist li {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 10px;
  position: relative;
}

ul.Packagedescriptionlist {
  padding-top: 22px;
  padding-bottom: 10px;
}
.Packagedescriptionlist li:after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  content: "";
  left: 0;
  top: 8px;
  position: absolute;
}

.DiabetesHealthcontent figure img {
  height: 234px;
  width: 100%;
  object-fit: cover;
}

.blogbannertitle {
  position: absolute;
  left: 15px;
  top: 100px;
  font-size: 40px;
  color: #ffffff94;
  text-transform: uppercase;
  z-index: 9;
}

.fixspace {
  padding-top: 78px;
}

.bookappoinmentinner {
  box-shadow: 0 4px 23px rgb(0 0 0 / 25%);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #00000026;
  margin: 20px 0 45px;
}

.bookappoinmentr {
  padding: 30px 40px 50px;
}

.bpheadleft h4 {
  font-size: 34px;
  color: #800030;
  font-weight: 700;
}

.bpheadleft p {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

.pricetime {
  font-size: 25px;
  color: #000000;
  font-weight: 600;
}

.bookappoinmentbody h5 {
  font-size: 22px;
  color: #1e1e1e;
  font-weight: 600;
}

.bookappoinmentbody p {
  font-size: 18px;
  color: #1e1e1e;
  font-weight: 400;
}

.bookappoinmentinner .col-md-7 {
  padding-left: 0;
}

.bookappoinmentinner .col-md-5 {
  padding-right: 0;
}

.bookappoinmentl figure img {
  width: 100%;
  height: 419px;
  object-fit: cover;
  border-radius: 10px;
}

.baheadtitle h3 {
  font-size: 45px;
  color: #800030;
  text-transform: uppercase;
  font-weight: 700;
}

.baheadtitle p {
  font-size: 20px;
  color: #00000075;
  font-weight: 400;
  margin-bottom: 1px;
}

.baheadtitle {
  margin-bottom: 20px;
}

.appoinmentsdetails h5 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.adlistinfo li h4 {
  font-size: 20px;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.adlistinfo li span {
  font-size: 20px;
  color: #007946;
  font-weight: 700;
}

.adlistinfo li {
  margin-right: 20px;
}

.adlistinfo {
  margin-bottom: 0;
}

.slotdatebox {
  border-top: 1px solid #d9d9d9;
  margin-top: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.slottitle {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 25px;
  color: #1e1e1e;
}

.slotdateboxright {
  border-left: 1px solid #d9d9d9;
  padding: 20px 30px;
}

.slotdateboxleft {
  padding: 20px 30px;
}

.slottimelist li {
  font-size: 17px;
  color: #1e1e1e82;
  border: 1px solid rgb(0 0 0 / 17%);
  display: inline-block;
  padding: 7px 7px;
  border-radius: 22px;
  margin-bottom: 10px;
  width: 27%;
  text-align: center;
  cursor: pointer;
}

.slottimelist {
  gap: 5px 35px;
  display: flex;
  flex-wrap: wrap;
}

.slottimelist .slottimeactive {
  background: #800030;
  color: #fff;
}

.apdinfo {
  margin-bottom: 20px;
}

.badetailright .pricetime {
  font-size: 30px;
  font-weight: 700;
}

.slotdateboxleft {
  padding-bottom: 30px;
  padding-right: 20px;
}

.clienttrusted {
  font-size: 30px;
  color: #2a2a2a;
  font-weight: 700;
  line-height: 0.1;
  padding-right: 100px;
}

.clientcontentbg {
  background: #f6edf0;
  padding: 24px 20px 25px;
  border-radius: 16px;
}

.clientfeedback {
  padding-top: 55px;
  padding-bottom: 50px;
}

.clientfeedbackslider {
  margin-left: -210px;
  margin-top: 55px;
  position: relative;
}

.testiuser {
  display: flex;
  align-items: center;
}

.clientcontentbg > p {
  font-size: 15px;
  color: #2a2a2a;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 25px;
  min-height: 67px;
}

section.clientfeedback {
  position: relative;
}

.ratinglist li {
  margin-right: 3px;
}

.testiuser figure img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  object-fit: cover;
}

.testiuser figcaption h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #2a2a2a;
}
.testiuser figcaption {
  padding-left: 10px;
}
.testiuser figcaption p {
  font-size: 11px;
  font-weight: 400;
  color: #2a2a2a;
  margin-bottom: 0;
}

.clienttrusted img {
  width: 160px;
}

.clientfeedbackright {
  padding-top: 20px;
}

.clientfeedbackslider .owl-carousel:after {
  background: linear-gradient(
    to right,
    rgb(246 237 240 / 48%) 0%,
    rgb(255 255 255) 100%
  );
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 217px;
}

.ratinglist {
  margin-bottom: 30px;
}

.CleintSuccess {
  background: #168765cf;
  padding-top: 55px;
  padding-bottom: 40px;
}

.clientafterbefore {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
  display: inline-flex;
  text-align: center;
}

.Clientbefore h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.clientafterbeforetitle {
  margin-bottom: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 18px;
  text-transform: uppercase;
}

.Clientbefore {
  padding: 0 6px;
}

.clientafterbefore {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
  display: inline-flex;
  text-align: center;
  background: #d9d9d938;
}

.daishaperight {
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.Diabetespageright {
  padding-left: 30px;
  padding-right: 85px;
}
.col-xxl.taginforight {
  width: calc(100% - 171px);
}

.sortbyright {
  text-align: revert;
  display: flex;
  justify-content: flex-end;
}
