.card-body {
    border-top: 1px solid gray;

    .title {
        font-size: 1rem;
        color: rgb(104, 27, 27);
        font-weight: bold;
        margin-bottom: 10px;

        button {
            margin-left: 10px;
            border-radius: 50%;
            color: white;
            font-size: 20px;
            border: none;
            padding: 0px 9px;
            background-color: rgb(104, 27, 27);
        }
    }


    .email-notif {
        display: flex;
        padding-left: 0;
    }

    .input-emails {
        display: flex;
        flex-direction: column;

        p {
            display: flex;
            gap: 15px;
            justify-content: space-between;

            .remove-icon {
                border-radius: 50%;
                border: none;
                color: white;
                font-weight: 600;
                font-size: 10px;
                padding: 3px 7px;
                cursor: pointer;
                background-color: rgb(173, 173, 173);
            }
        }
    }
}

.ck.ck-editor__main > .ck-editor__editable{
    height: 120px;
}
.add-package-btn{
    display: flex;
    justify-content: end;
    a{
        padding: 6px 12px;
        border: 1px solid rgba(132, 134, 167) ;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 15px;
    }
}